@import "~@codecademy/gamut-styles/utils";

.logo {
  display: inline-block;
  margin-left: 0;
  padding: 0.375rem 0;
  &:focus-visible {
    outline-color: $color-navy;
  }

  > svg {
    color: $color-navy;
    margin-bottom: -0.1875rem;
  }
}
