@import "~@codecademy/gamut-styles/utils";

$tabColor: $gamut-purple;
$tabBorderRadius: 0.25rem;

.tab {
  border: 1px solid $tabColor;
  padding: 0.5rem;
  &:first-of-type {
    border-top-left-radius: $tabBorderRadius;
    border-bottom-left-radius: $tabBorderRadius;
  }
  &:last-of-type {
    border-top-left-radius: $tabBorderRadius;
    border-bottom-left-radius: $tabBorderRadius;
  }
}

.selected {
}
.disabled {
}
