@import "~@codecademy/gamut-styles/utils";

.sideMenu {
  background: $color-white;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 $color-shadow;
  list-style-type: none;
  margin: 0 px-rem(12px);
  padding: px-rem(6px) 0;
  width: 100%;
}

@include md-viewport {
  .sideMenu {
    margin-right: px-rem(32px);
    width: px-rem(263px);
  }
}
