@import "~@codecademy/gamut-styles/utils";

.search {
  display: flex;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
}

.input {
  width: 100%;
  outline: none;
  border: 1px solid $color-gray-300;
  background: none;
  font-size: 1rem;
  padding: 0.75rem;
  padding-right: 2.5rem;
  border-radius: px-rem(5px);

  &::placeholder {
    color: $color-gray-300;
  }
}

.searchIcon {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 0.75rem;
  color: $color-black;
  outline: 0;
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
}
