@import "~@codecademy/gamut-styles/utils";

.overlay {
  width: 100vh;
  height: 100vh;
  opacity: 1;
  background-color: white;
  position: fixed; /* Stay in place */
  z-index: 15; /* may ned to change */
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0); /* Black fallback color */
  overflow-x: hidden; /* Disable horizontal scroll */
}
