@import "~@codecademy/gamut-styles/utils";

.menuItem {
  font-size: $font-size-base;
  font-weight: 300;
  line-height: 1.6;
  margin: 25px 0;
  padding-left: px-rem(40px);

  .link {
    color: $color-gray-800;
    display: block;

    &:hover,
    &:focus {
      color: $color-blue-500;
      text-decoration: none;
    }
  }
}

.selected {
  border-left: 4px solid $color-blue-500;
  font-weight: bold;
  padding-left: px-rem(36px);

  .link {
    color: $color-blue-500;
  }
}
