@import "@codecademy/gamut-styles/utils";

table {
  margin: 1rem 0 2rem 0;
  width: 100%;
  max-width: 100vw;
  font-family: $font-monospace;
}

td,
th {
  border: 1px solid #000;
  padding: 0.5rem;
}

th {
  background-color: #000;
  color: #fff;
  @include font-smoothing;
  border-right-color: #fff;
  &:last-child {
    border-right-color: #000;
  }
}
