version: 2
updates:
  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: weekly
      time: '10:00'
    open-pull-requests-limit: 0
    labels:
      - dependencies
    reviewers:
      - '@Codecademy/dependencies'
    ignore:
      - dependency-name: marked
        versions:
          - '> 0.7.0'
