@import "~@codecademy/gamut-styles/utils";

.bylineContainer {
  display: flex;
  flex-direction: column;
}

.author {
  font-size: px-rem(18px);
  font-family: $font-family-headings;
  font-weight: bold;
}

.lastName {
  display: none;
  @include screen-size-gte(px-rem(320px)) {
    display: contents;
  }
}

.networkPin {
  width: px-rem(12px);
  height: px-rem(12px);
  margin-right: px-rem(12px);
}

.locationContainer {
  display: flex;
  align-items: center;
}

.company {
  display: none;
  @include screen-size-gte(px-rem(382px)) {
    display: contents;
  }
}
