@import "variables";

.checkboxLabel {
  @include no-select;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  margin: ($form-padding / 2) 0;
  width: 100%;
  font-weight: normal;
  padding: $form-padding;
}

.checkboxText {
  align-self: center;
}

.checkboxTextMultiline {
  font-size: 0.75rem;
}

input:checked + .checkboxLabel .checkbox {
  border-color: $color-blue-500;

  .checkboxVector {
    .squareVector {
      fill: $color-blue-500;
    }

    .checkVector {
      stroke-dashoffset: 0;
      transition: stroke-dashoffset $transition-time;
    }
  }
}

input:disabled:checked + .checkboxLabel .checkbox {
  border-color: $color-gray-200;
  .checkboxVector {
    .squareVector {
      fill: $color-gray-200;
    }
  }
}

input:disabled + .checkboxLabel {
  color: $color-gray-200;
}

.checkbox {
  position: relative;
  margin-right: 0.5rem;
  min-width: 1.5rem;
  height: 1.5rem;
  border: 2px solid $color-gray-200;
  border-radius: $border-radius;
  transition: all 0.1s ease-in-out;

  .checkboxVector {
    position: absolute;
    top: -2px;
    left: -2px;

    .checkVector {
      fill: none;
      stroke: $color-gray-100;
      stroke-width: 2;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-dasharray: 18px;
      stroke-dashoffset: 18px;
    }
  }
}

.invisible:focus + .checkboxLabel > .checkbox {
  outline: px-rem(2) solid $color-blue-500;
  outline-offset: px-rem(2);
}

.checkboxMultiline {
  margin-top: 3px;
}

.invisible {
  @include sr-only;
}
