@import "variables";

.Input {
  font-size: 1rem;
  text-indent: $form-padding;
  padding: $form-padding 0;
  outline: none;
  width: 100%;
  border: 1px solid $color-border;
  border-radius: $border-radius;
  transition: border-color $transition-time;
  font-weight: normal;
  box-sizing: border-box;

  &::placeholder {
    color: $deprecated-swatches-grey-500;
  }

  &:focus {
    border-color: $deprecated-gamut-blue;
  }
}

.error {
  border-color: $color-red-500;
  &:focus {
    border-color: $color-red-200;
  }
}
