@import "variables";

.Radio {
  @include no-select;
  margin: 0.25rem 0;
  width: 100%;
  font-weight: normal;
}

.radioInput {
  @include sr-only();
}

.radioLabel {
  display: flex;
  padding: $form-padding 0;
  align-items: center;
  transition: $transition-time;
  cursor: pointer;
}

.radioLabel::before {
  content: "";
  display: block;
  width: px-rem(24px);
  height: px-rem(24px);
  min-width: px-rem(24px);
  min-height: px-rem(24px);
  border-radius: 100%;
  border: 2px solid $color-gray-200;
  margin-right: $form-padding;
  transition: $transition-time;
}

.radioInput:checked + .radioLabel::before {
  background-color: $color-blue-500;
  border: 0.25rem solid $color-white;
  border-radius: 100%;
  box-shadow: 0 0 0 2px $color-blue-500;
  width: px-rem(24px);
  height: px-rem(24px);
  min-width: px-rem(24px);
  min-height: px-rem(24px);
}

.radioInput:disabled:checked + .radioLabel::before {
  background-color: $color-gray-200;
  border: 0.25rem solid $color-white;
  box-shadow: 0 0 0 2px $color-gray-200;
}

.radioInput:disabled + .radioLabel {
  color: $color-gray-200;
}
