@import "variables";

.Radio {
  @include no-select;
  margin: 0.25rem 0;
  width: 100%;
  font-weight: normal;
}

.radioInput {
  @include screenreader-only();
}

.radioLabel {
  display: flex;
  padding: $form-padding 0;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.radioLabel::before {
  content: "";
  display: block;
  width: px-rem(20px);
  height: px-rem(20px);
  border-radius: 100%;
  box-shadow: 0 0 0 1px $color-gray-200;
  margin-right: $form-padding;
}

.radioLabel::after {
  content: "";
  display: block;
  position: absolute;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-out;
  transform: scale(0);
  width: px-rem(20px);
  height: px-rem(20px);
  background-color: $color-hyper;
  border-radius: 100%;
}

.radioInput:checked + .radioLabel::after {
  transform: scale(1);
  border: px-rem(5px) solid $color-white;
}

.radioInput:checked + .radioLabel::before {
  box-shadow: 0 0 0 1px $color-hyper;
}

.radioInput:hover:not(:disabled) + .radioLabel::before {
  box-shadow: 0 0 0 2px $color-hyper;
}

.radioInput:disabled:checked + .radioLabel::before {
  background-color: $color-gray-200;
  border: 0.25rem solid $color-white;
  box-shadow: 0 0 0 1px $color-gray-200;
}

.radioInput:disabled + .radioLabel {
  color: $color-gray-200;
}
