> 1%
not op_mini all
not UCAndroid > 0
not ie 11
not dead
last 2 ChromeAndroid versions
last 2 Chrome versions
last 2 Firefox versions
last 2 Safari versions
last 2 iOS versions
last 2 Edge versions
last 2 Opera version
