{
  "parser": "babel-eslint",

  "extends": "airbnb",

  "plugins": ["react"],

  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },

  "globals": {
    "expect": true
  },

  "env": {
    "jest": true
  },

  "rules": {
    "indent": [2, 2],
    "comma-dangle": [2, "never"],
    "func-names": 0,
    "prefer-const": 0,
    "padded-blocks": 0,
    "id-length": 0,
    "new-cap": 0,
    "no-new": 0,
    "no-underscore-dangle": 0,
    "max-len": 0,
    "jsx-quotes": 0,
    "prefer-template": 0,
    "quote-props": 0,
    "arrow-body-style": 0,
    "no-param-reassign": 0,
    "object-shorthand": 0,
    "object-curly-spacing": 0,
    "no-alert": 0,
    "react/sort-comp": 0,
    "react/no-did-update-set-state": 0,
    "react/no-did-mount-set-state": 0,
    "react/jsx-boolean-value": 0,
    "react/prefer-es6-class": 0,
    "react/jsx-closing-bracket-location": 0,
    "react/jsx-filename-extension": 0,
    "react/forbid-prop-types": 0,
    "react/prefer-stateless-function": 0,
    "react/no-unused-prop-types": 0,
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0
  }
}
