node_modules
**/node_modules
*.json
**/*.json
docs
**/*.d.ts
**/dist
**/tmp
packages/gamut-icons/src/icons
packages/gamut-patterns/src/patterns
.nx
packages/gamut/src/LexicalEditor
packages/gamut/src/LexicalEditor/**/*.tsx
packages/gamut/src/LexicalEditor/**/*.js
