node_modules
**/node_modules
**/dist
**/tmp
packages/gamut-icons/src/icons
packages/gamut-styles/**/*.d.ts
packages/styleguide/stories/Core/Atoms/Markdown/*.md
packages/code-connect/**/*

/.nx/cache
/.nx/workspace-data
