// NOTE: When updating, make sure you also update the gamut-styles/variables/index.js file

// =======================================
//      COLORS
// =======================================

$color-blue-100: #c8d7fa;
$color-blue-200: #a5befa;
$color-blue-300: #7da2fa;
$color-blue-400: #5788fa;
$color-blue-500: #3069f0;
$color-blue-600: #2d5dcc;
$color-blue-700: #2e4a99;
$color-blue-800: #233466;
$color-blue-900: #141e3b;
$color-blue-1000: #10162f;
$color-blue-1100: #0a0e1d;

$color-pink-100: #ffd9fc;
$color-pink-200: #ffbffa;
$color-pink-300: #ffa6f8;
$color-pink-400: #f288e9;
$color-pink-500: #d957d9;
$color-pink-600: #b035c9;
$color-pink-700: #9129a6;
$color-pink-800: #702080;
$color-pink-900: #43134d;

$color-purple-100: #d5ccff;
$color-purple-200: #c0b6f2;
$color-purple-300: #ac9df2;
$color-purple-400: #917ef2;
$color-purple-500: #7c5ce6;
$color-purple-600: #6437cc;
$color-purple-700: #4b2999;
$color-purple-800: #381f73;
$color-purple-900: #231347;

$color-red-100: #ffd3cc;
$color-red-200: #ffb8ad;
$color-red-300: #ff988c;
$color-red-400: #ff7566;
$color-red-500: #fd4d3f;
$color-red-600: #e53935;
$color-red-700: #bf2e2c;
$color-red-800: #992523;
$color-red-900: #661917;

$color-green-100: #bbfae5;
$color-green-200: #91f2d2;
$color-green-300: #6aebc0;
$color-green-400: #4fe0b0;
$color-green-500: #47cca0;
$color-green-600: #3eb38c;
$color-green-700: #318c6e;
$color-green-800: #246650;
$color-green-900: #164032;

$color-orange-100: #ffe9c8;
$color-orange-200: #ffd093;
$color-orange-300: #ffb764;
$color-orange-400: #ff9f3c;
$color-orange-500: #ff881d;
$color-orange-600: #fb7106;
$color-orange-700: #dc5a03;
$color-orange-800: #ba4604;
$color-orange-900: #963606;

$color-yellow-100: #fff7cc;
$color-yellow-200: #fff2b3;
$color-yellow-300: #ffec8c;
$color-yellow-400: #ffe359;
$color-yellow-500: #ffd500;
$color-yellow-600: #ffb92e;
$color-yellow-700: #e69729;
$color-yellow-800: #b37620;
$color-yellow-900: #805417;

$color-gray-100: #f6f5fa;
$color-gray-200: #dddce0;
$color-gray-300: #c4c3c7;
$color-gray-400: #a2a2a6;
$color-gray-500: #828285;
$color-gray-600: #646466;
$color-gray-700: #4b4b4d;
$color-gray-800: #323233;
$color-gray-900: #19191a;

$color-white: #ffffff;
$color-black: #000000;
$color-beige: #efd9ca;
$color-royal-blue: #6400e4;
$color-shadow: rgba($color-black, 0.15);

// =======================================
//      BRAND COLORS
// =======================================

$brand-red: #fd4d3f;
$brand-yellow: #ffc740;
$brand-orange: #ff9b2a;
$brand-purple: #6400e4;
$brand-pink: #ff8ef5;
$brand-mint: #6df0c2;
$brand-beige: #efd9ca;
$brand-dark-blue: #141c3a;

// =======================================
//      DEPRECATED COLORS
// =======================================

$deprecated-color-white: #ffffff;
$deprecated-color-black: #000000;

$deprecated-gamut-purple-500: #69639a;

$deprecated-gamut-purple-100: mix(
  $color-white,
  $deprecated-gamut-purple-500,
  80%
);
$deprecated-gamut-purple-200: mix(
  $color-white,
  $deprecated-gamut-purple-500,
  60%
);
$deprecated-gamut-purple-300: mix(
  $color-white,
  $deprecated-gamut-purple-500,
  40%
);
$deprecated-gamut-purple-400: mix(
  $color-white,
  $deprecated-gamut-purple-500,
  20%
);
$deprecated-gamut-purple-600: mix(
  $color-black,
  $deprecated-gamut-purple-500,
  20%
);
$deprecated-gamut-purple-700: mix(
  $color-black,
  $deprecated-gamut-purple-500,
  40%
);
$deprecated-gamut-purple-800: mix(
  $color-black,
  $deprecated-gamut-purple-500,
  60%
);
$deprecated-gamut-purple-900: mix(
  $color-black,
  $deprecated-gamut-purple-500,
  80%
);

$deprecated-gamut-royal-blue-500: #4b35ef;

$deprecated-gamut-royal-blue-100: mix(
  $color-white,
  $deprecated-gamut-royal-blue-500,
  80%
);
$deprecated-gamut-royal-blue-200: mix(
  $color-white,
  $deprecated-gamut-royal-blue-500,
  60%
);
$deprecated-gamut-royal-blue-300: mix(
  $color-white,
  $deprecated-gamut-royal-blue-500,
  40%
);
$deprecated-gamut-royal-blue-400: mix(
  $color-white,
  $deprecated-gamut-royal-blue-500,
  20%
);
$deprecated-gamut-royal-blue-600: mix(
  $color-black,
  $deprecated-gamut-royal-blue-500,
  20%
);
$deprecated-gamut-royal-blue-700: mix(
  $color-black,
  $deprecated-gamut-royal-blue-500,
  40%
);
$deprecated-gamut-royal-blue-800: mix(
  $color-black,
  $deprecated-gamut-royal-blue-500,
  60%
);
$deprecated-gamut-royal-blue-900: mix(
  $color-black,
  $deprecated-gamut-royal-blue-500,
  80%
);

$deprecated-gamut-blue-500: #4c7ef3;

$deprecated-gamut-blue-100: mix($color-white, $deprecated-gamut-blue-500, 80%);
$deprecated-gamut-blue-200: mix($color-white, $deprecated-gamut-blue-500, 60%);
$deprecated-gamut-blue-300: mix($color-white, $deprecated-gamut-blue-500, 40%);
$deprecated-gamut-blue-400: mix($color-white, $deprecated-gamut-blue-500, 20%);
$deprecated-gamut-blue-600: mix($color-black, $deprecated-gamut-blue-500, 20%);
$deprecated-gamut-blue-700: mix($color-black, $deprecated-gamut-blue-500, 40%);
$deprecated-gamut-blue-800: mix($color-black, $deprecated-gamut-blue-500, 60%);
$deprecated-gamut-blue-900: mix($color-black, $deprecated-gamut-blue-500, 80%);

$deprecated-gamut-red-500: #fa4359;

$deprecated-gamut-red-100: mix($color-white, $deprecated-gamut-red-500, 80%);
$deprecated-gamut-red-200: mix($color-white, $deprecated-gamut-red-500, 60%);
$deprecated-gamut-red-300: mix($color-white, $deprecated-gamut-red-500, 40%);
$deprecated-gamut-red-400: mix($color-white, $deprecated-gamut-red-500, 20%);
$deprecated-gamut-red-600: mix($color-black, $deprecated-gamut-red-500, 20%);
$deprecated-gamut-red-700: mix($color-black, $deprecated-gamut-red-500, 40%);
$deprecated-gamut-red-800: mix($color-black, $deprecated-gamut-red-500, 60%);
$deprecated-gamut-red-900: mix($color-black, $deprecated-gamut-red-500, 80%);

$deprecated-gamut-mint-500: #37c3be;

$deprecated-gamut-mint-100: mix($color-white, $deprecated-gamut-mint-500, 80%);
$deprecated-gamut-mint-200: mix($color-white, $deprecated-gamut-mint-500, 60%);
$deprecated-gamut-mint-300: mix($color-white, $deprecated-gamut-mint-500, 40%);
$deprecated-gamut-mint-400: mix($color-white, $deprecated-gamut-mint-500, 20%);
$deprecated-gamut-mint-600: mix($color-black, $deprecated-gamut-mint-500, 20%);
$deprecated-gamut-mint-700: mix($color-black, $deprecated-gamut-mint-500, 40%);
$deprecated-gamut-mint-800: mix($color-black, $deprecated-gamut-mint-500, 60%);
$deprecated-gamut-mint-900: mix($color-black, $deprecated-gamut-mint-500, 80%);

$deprecated-gamut-yellow-500: #ffc107;

$deprecated-gamut-yellow-100: mix(
  $color-white,
  $deprecated-gamut-yellow-500,
  80%
);
$deprecated-gamut-yellow-200: mix(
  $color-white,
  $deprecated-gamut-yellow-500,
  60%
);
$deprecated-gamut-yellow-300: mix(
  $color-white,
  $deprecated-gamut-yellow-500,
  40%
);
$deprecated-gamut-yellow-400: mix(
  $color-white,
  $deprecated-gamut-yellow-500,
  20%
);
$deprecated-gamut-yellow-600: mix(
  $color-black,
  $deprecated-gamut-yellow-500,
  20%
);
$deprecated-gamut-yellow-700: mix(
  $color-black,
  $deprecated-gamut-yellow-500,
  40%
);
$deprecated-gamut-yellow-800: mix(
  $color-black,
  $deprecated-gamut-yellow-500,
  60%
);
$deprecated-gamut-yellow-900: mix(
  $color-black,
  $deprecated-gamut-yellow-500,
  80%
);

$deprecated-gamut-grey-500: #ccc;

$deprecated-gamut-grey-100: mix($color-white, $deprecated-gamut-grey-500, 80%);
$deprecated-gamut-grey-200: mix($color-white, $deprecated-gamut-grey-500, 60%);
$deprecated-gamut-grey-300: mix($color-white, $deprecated-gamut-grey-500, 40%);
$deprecated-gamut-grey-400: mix($color-white, $deprecated-gamut-grey-500, 20%);
$deprecated-gamut-grey-600: mix($color-black, $deprecated-gamut-grey-500, 20%);
$deprecated-gamut-grey-700: mix($color-black, $deprecated-gamut-grey-500, 40%);
$deprecated-gamut-grey-800: mix($color-black, $deprecated-gamut-grey-500, 60%);
$deprecated-gamut-grey-900: mix($color-black, $deprecated-gamut-grey-500, 80%);

$deprecated-gamut-black: #000;
$deprecated-gamut-white: #fff;

$deprecated-gamut-white: $color-white;
$deprecated-gamut-black: $color-black;
$deprecated-gamut-purple: $deprecated-gamut-purple-500;
$deprecated-gamut-royal-blue: $deprecated-gamut-royal-blue-500;
$deprecated-gamut-blue: $deprecated-gamut-blue-500;
$deprecated-gamut-red: $deprecated-gamut-red-500;
$deprecated-gamut-mint: $deprecated-gamut-mint-500;
$deprecated-gamut-yellow: $deprecated-gamut-yellow-500;
$deprecated-gamut-grey: $deprecated-gamut-grey-500;

$deprecated-color-grey-1: #e9eaea;
$deprecated-color-grey-2: #d4d5d6;
$deprecated-color-grey-3: #bebfc1;
$deprecated-color-grey-4: #939598;
$deprecated-color-grey-5: #3e3e40;
$deprecated-color-blue: #52b1db;
$deprecated-color-darkblue: #204056;
$deprecated-color-midnightblue: #152b39;
$deprecated-color-mint: #34b3a0;
$deprecated-color-red: #f65a5b;

$deprecated-swatches-cc-blue-500: #225470;
$deprecated-swatches-cc-blue-700: #204056;

$deprecated-swatches-grey-blue-500: #57646e;
$deprecated-swatches-grey-blue-600: #354551;

$deprecated-swatches-mint-700: #34b3a0;
$deprecated-swatches-mint-800: #1a7b72;
