// NOTE: When updating, make sure you also update the gamut-styles/variables.js file

// =======================================
//       NEW DESIGN SYSTEM COLORS
// =======================================

$gamut-white: #fff;
$gamut-black: #000;
$gamut-purple: #69639a;
$gamut-royal-blue: #4b35ef;
$gamut-blue: #4c7ef3;
$gamut-red: #fa4359;
$gamut-yellow: #ffad45;
$gamut-gray: #ccc;

// =======================================
//       NEW DESIGN SYSTEM SWATCHES
// =======================================

$swatches-gamut-purple-050: lighten($gamut-purple, 90%);
$swatches-gamut-purple-100: lighten($gamut-purple, 80%);
$swatches-gamut-purple-150: lighten($gamut-purple, 70%);
$swatches-gamut-purple-200: lighten($gamut-purple, 60%);
$swatches-gamut-purple-300: lighten($gamut-purple, 40%);
$swatches-gamut-purple-400: lighten($gamut-purple, 20%);
$swatches-gamut-purple-500: $gamut-purple;
$swatches-gamut-purple-600: darken($gamut-purple, 20%);
$swatches-gamut-purple-700: darken($gamut-purple, 40%);
$swatches-gamut-purple-850: darken($gamut-purple, 70%);
$swatches-gamut-purple-900: darken($gamut-purple, 80%);

// =======================================
//            PORTAL COLORS
// =======================================

$color-white: #fff;
$color-black: #000;
$color-grey-1: #e9eaea;
$color-grey-2: #d4d5d6;
$color-grey-3: #bebfc1;
$color-grey-4: #939598;
$color-grey-5: #3e3e40;
$color-blue: #52b1db;
$color-darkblue: #204056;
$color-midnightblue: #152b39;
$color-mint: #34b3a0;
$color-red: #f65a5b;

// =======================================
//            PLATFORM COLORS
// =======================================

$swatches-basic-black: #000;
$swatches-basic-white: #fff;
$swatches-code-default: #fff;
$swatches-code-atom: #ff7155;
$swatches-code-attribute: #ceff00;
$swatches-code-builtin: #ddda6f;
$swatches-code-comment: #737887;
$swatches-code-def: #b5a1a1;
$swatches-code-error: #e83131;
$swatches-code-keyword: #64ffe1;
$swatches-code-meta: #d478ea;
$swatches-code-number: #ef9eb4;
$swatches-code-operator: #b5a1a1;
$swatches-code-property: #9771ff;
$swatches-code-qualifier: #fff543;
$swatches-code-string-1: #ffde52;
$swatches-code-string-2: #ac99bf;
$swatches-code-tag: #e85d7f;
$swatches-code-variable-1: #249cff;
$swatches-code-variable-2: #57ff93;
$swatches-code-variable-3: #5affef;

// =======================================
//            COLOR SWATCHES
// =======================================

$swatches-blue-100: #dceff8;
$swatches-blue-200: #bae0f1;
$swatches-blue-300: #97d0e9;
$swatches-blue-400: #75c1e2;
$swatches-blue-500: #52b1db;
$swatches-blue-600: #4292b4;
$swatches-blue-700: #32728d;
$swatches-blue-800: #215366;
$swatches-blue-900: #11333f;

$swatches-cc-blue-100: #d3dde2;
$swatches-cc-blue-200: #a7bbc6;
$swatches-cc-blue-300: #7a98a9;
$swatches-cc-blue-400: #4e768d;
$swatches-cc-blue-500: #225470;
$swatches-cc-blue-600: #214a63;
$swatches-cc-blue-700: #204056;
$swatches-cc-blue-800: #163142;
$swatches-cc-blue-900: #0d222d;

$swatches-grey-blue-100: #eef0f1;
$swatches-grey-blue-200: #bcc1c5;
$swatches-grey-blue-300: #9aa2a8;
$swatches-grey-blue-400: #78838b;
$swatches-grey-blue-500: #57646e;
$swatches-grey-blue-600: #354551;
$swatches-grey-blue-700: #253845;
$swatches-grey-blue-800: #152b39;
$swatches-grey-blue-900: #0b161d;

$swatches-grey-100: #e9eaea;
$swatches-grey-200: #d4d5d6;
$swatches-grey-300: #bebfc1;
$swatches-grey-400: #a9aaad;
$swatches-grey-500: #939598;
$swatches-grey-600: #76787b;
$swatches-grey-700: #5a5b5e;
$swatches-grey-800: #3e3e40;
$swatches-grey-900: #212123;

$swatches-mint-100: #d7f6f0;
$swatches-mint-200: #b0ede1;
$swatches-mint-300: #88e3d2;
$swatches-mint-400: #61dac3;
$swatches-mint-500: #39d1b4;
$swatches-mint-600: #37c2aa;
$swatches-mint-700: #34b3a0;
$swatches-mint-800: #1a7b72;
$swatches-mint-900: #044;

$swatches-red-100: #fddede;
$swatches-red-200: #fbbdbd;
$swatches-red-300: #fa9c9d;
$swatches-red-400: #f87b7c;
$swatches-red-500: #f65a5b;
$swatches-red-600: #c64748;
$swatches-red-700: #963435;
$swatches-red-800: #652022;
$swatches-red-900: #350d0f;

$swatches-yellow-100: #ffedd6;
$swatches-yellow-200: #ffdbac;
$swatches-yellow-300: #ffca83;
$swatches-yellow-400: #ffb85a;
$swatches-yellow-500: #fbb03b;
$swatches-yellow-600: #c88b2e;
$swatches-yellow-700: #956721;
$swatches-yellow-800: #634213;
$swatches-yellow-900: #301e06;
