// Font Families:

$font-family-base: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
  "Roboto", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;

$font-base: $font-family-base;

$font-family-headings: "Regular Patch", "Regular Bold", "Nunito Sans",
  -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Cantarell",
  "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

$font-monospace: Monaco, Menlo, "Ubuntu Mono", "Droid Sans Mono", Consolas,
  monospace;

$font-system: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu",
  "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

// Font Weights

$font-weight-light: 300;
$font-weight-normal: normal;
$font-weight-bold: bold;
$font-weight-base: $font-weight-normal;
$font-weight-headings: $font-weight-bold;
$font-weight-dt: $font-weight-bold;

// Font colors

$color-body: #484848;
$color-headings: $color-gray-900;
$bg-body: $color-white;
$color-link: $deprecated-gamut-royal-blue-500;
$hover-color-link: $deprecated-gamut-royal-blue-600;
$decoration-link: none;
$hover-decoration-link: underline;

// Font margins

$margin-bottom-paragraph: $spacer;
$margin-bottom-headings: $spacer;
$margin-bottom-label: 0;
$line-height-base: 1.5;
$line-height-headings: 1.1;

// Font sizes

$font-size-base: $base-unit;
$font-size-h1: 3rem;
$font-size-h2: 2.2rem;
$font-size-h3: 1.6rem;
$font-size-h4: 1.4rem;
$font-size-h5: 1.25rem;
$font-size-h6: 1rem;
$font-size-small: 85%;

$headingSizes: (
  "xxs": (
    "size": 16,
    "margin": 16,
    "font": $font-family-base
  ),
  "xs": (
    "size": 20,
    "margin": 16,
    "font": $font-family-base
  ),
  "sm": (
    "size": 22,
    "margin": 16,
    "font": $font-family-base
  ),
  "md": (
    "size": 26,
    "margin": 20,
    "font": $font-family-base
  ),
  "lg": (
    "size": 34,
    "margin": 24,
    "font": $font-family-base
  ),
  "xl": (
    "size": 44,
    "margin": 24,
    "font": $font-family-headings
  ),
  "xxl": (
    "size": 64,
    "margin": 32,
    "font": $font-family-headings
  )
);

$textSizes: (
  "sm": (
    "size": 14,
    "font": $font-family-base
  ),
  "md": (
    "size": 18,
    "font": $font-family-base
  ),
  "lg": (
    "size": 20,
    "font": $font-family-base
  )
);
