// Font Families:

$font-family-base: "Apercu", -apple-system, BlinkMacSystemFont, "Segoe UI",
  "Roboto", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;

$font-family-accent: "Suisse", "Apercu", -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
  "Helvetica Neue", sans-serif;

$font-monospace: Monaco, Menlo, "Ubuntu Mono", "Droid Sans Mono", Consolas,
  monospace;

$font-system: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu",
  "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

// These should be deleted in a little bit, once everyone's done using them.
// GM-102
$font-base: $font-family-base;
$font-family-apercu: $font-family-base;
$font-family-headings: $font-family-base;
$font-family-suisse: $font-family-accent;

// Font Weights

$font-weight-light: 300;
$font-weight-normal: normal;
$font-weight-bold: bold;
$font-weight-base: $font-weight-normal;
$font-weight-headings: $font-weight-bold;
$font-weight-dt: $font-weight-bold;

// Font colors

$color-body: #484848;
$color-headings: $color-gray-900;
$bg-body: $color-white;
$color-link: $deprecated-gamut-royal-blue-500;
$hover-color-link: $deprecated-gamut-royal-blue-600;
$decoration-link: none;
$hover-decoration-link: underline;

// Font margins

$margin-bottom-paragraph: $spacer;
$margin-bottom-headings: $spacer;
$margin-bottom-label: 0;
$line-height-base: 1.5;
$line-height-headings: 1.1;

// Font sizes

$font-size-base: $base-unit;
$font-size-h1: px-rem(64);
$font-size-h2: px-rem(44);
$font-size-h3: px-rem(34);
$font-size-h4: px-rem(26);
$font-size-h5: px-rem(22);
$font-size-h6: px-rem(20);
$font-size-small: 85%;
