@import "index";

// prettier-ignore
:export {
  brandRed: $brand-red;
  brandYellow: $brand-yellow;
  brandPurple: $brand-purple;
  brandPink: $brand-pink;
  brandMint: $brand-mint;
  brandBeige: $brand-beige;
  brandDarkBlue: $brand-dark-blue;

  gamutWhite: $gamut-white;
  gamutBlack: $gamut-black;
  gamutPurple: $gamut-purple;
  gamutRoyalBlue: $gamut-royal-blue;
  gamutBlue: $gamut-blue;
  gamutRed: $gamut-red;
  gamutMint: $gamut-mint;
  gamutYellow: $gamut-yellow;
  gamutGrey: $gamut-grey;

  white: $white;
  black: $black;
  beige: $beige;
  royal-blue: $royal-blue;

  blue:
    $blue-100
    $blue-200
    $blue-300
    $blue-400
    $blue-500
    $blue-600
    $blue-700
    $blue-800
    $blue-900
    $blue-1000
    $blue-1100;

  pink:
    $pink-100
    $pink-200
    $pink-300
    $pink-400
    $pink-500
    $pink-600
    $pink-700
    $pink-800
    $pink-900;

  purple:
    $purple-100
    $purple-200
    $purple-300
    $purple-400
    $purple-500
    $purple-600
    $purple-700
    $purple-800
    $purple-900;

  red:
    $red-100
    $red-200
    $red-300
    $red-400
    $red-500
    $red-600
    $red-700
    $red-800
    $red-900;

  green:
    $green-100
    $green-200
    $green-300
    $green-400
    $green-500
    $green-600
    $green-700
    $green-800
    $green-900;

  yellow:
    $yellow-100
    $yellow-200
    $yellow-300
    $yellow-400
    $yellow-500
    $yellow-600
    $yellow-700
    $yellow-800
    $yellow-900;

  gray:
    $gray-100
    $gray-200
    $gray-300
    $gray-400
    $gray-500
    $gray-600
    $gray-700
    $gray-800
    $gray-900;

  gamutPurpleSwatches:
    $gamut-purple-100
    $gamut-purple-200
    $gamut-purple-300
    $gamut-purple-400
    $gamut-purple-500
    $gamut-purple-600
    $gamut-purple-700
    $gamut-purple-800
    $gamut-purple-900;

  gamutRoyalBlueSwatches:
    $gamut-royal-blue-100
    $gamut-royal-blue-200
    $gamut-royal-blue-300
    $gamut-royal-blue-400
    $gamut-royal-blue-500
    $gamut-royal-blue-600
    $gamut-royal-blue-700
    $gamut-royal-blue-800
    $gamut-royal-blue-900;

  gamutBlueSwatches:
    $gamut-blue-100
    $gamut-blue-200
    $gamut-blue-300
    $gamut-blue-400
    $gamut-blue-500
    $gamut-blue-600
    $gamut-blue-700
    $gamut-blue-800
    $gamut-blue-900;

  gamutRedSwatches:
    $gamut-red-100
    $gamut-red-200
    $gamut-red-300
    $gamut-red-400
    $gamut-red-500
    $gamut-red-600
    $gamut-red-700
    $gamut-red-800
    $gamut-red-900;

  gamutMintSwatches:
    $gamut-mint-100
    $gamut-mint-200
    $gamut-mint-300
    $gamut-mint-400
    $gamut-mint-500
    $gamut-mint-600
    $gamut-mint-700
    $gamut-mint-800
    $gamut-mint-900;

  gamutYellowSwatches:
    $gamut-yellow-100
    $gamut-yellow-200
    $gamut-yellow-300
    $gamut-yellow-400
    $gamut-yellow-500
    $gamut-yellow-600
    $gamut-yellow-700
    $gamut-yellow-800
    $gamut-yellow-900;

  gamutGreySwatches:
    $gamut-grey-100
    $gamut-grey-200
    $gamut-grey-300
    $gamut-grey-400
    $gamut-grey-500
    $gamut-grey-600
    $gamut-grey-700
    $gamut-grey-800
    $gamut-grey-900;
}
