@import "index";

// prettier-ignore
:export {
  brandRed: $brand-red;
  brandYellow: $brand-yellow;
  brandPurple: $brand-purple;
  brandPink: $brand-pink;
  brandMint: $brand-mint;
  brandBeige: $brand-beige;
  brandDarkBlue: $brand-dark-blue;

  colorWhite: $color-white;
  colorBlack: $color-black;
  colorBeige: $color-beige;
  colorRoyalBlue: $color-royal-blue;

  colorBlue:
    $color-blue-100
    $color-blue-200
    $color-blue-300
    $color-blue-400
    $color-blue-500
    $color-blue-600
    $color-blue-700
    $color-blue-800
    $color-blue-900
    $color-blue-1000
    $color-blue-1100;

  colorPink:
    $color-pink-100
    $color-pink-200
    $color-pink-300
    $color-pink-400
    $color-pink-500
    $color-pink-600
    $color-pink-700
    $color-pink-800
    $color-pink-900;

  colorPurple:
    $color-purple-100
    $color-purple-200
    $color-purple-300
    $color-purple-400
    $color-purple-500
    $color-purple-600
    $color-purple-700
    $color-purple-800
    $color-purple-900;

  colorRed:
    $color-red-100
    $color-red-200
    $color-red-300
    $color-red-400
    $color-red-500
    $color-red-600
    $color-red-700
    $color-red-800
    $color-red-900;

  colorGreen:
    $color-green-100
    $color-green-200
    $color-green-300
    $color-green-400
    $color-green-500
    $color-green-600
    $color-green-700
    $color-green-800
    $color-green-900;

  colorYellow:
    $color-yellow-100
    $color-yellow-200
    $color-yellow-300
    $color-yellow-400
    $color-yellow-500
    $color-yellow-600
    $color-yellow-700
    $color-yellow-800
    $color-yellow-900;

  colorGray:
    $color-gray-100
    $color-gray-200
    $color-gray-300
    $color-gray-400
    $color-gray-500
    $color-gray-600
    $color-gray-700
    $color-gray-800
    $color-gray-900;


  deprecatedGamutWhite: $deprecated-gamut-white;
  deprecatedGamutBlack: $deprecated-gamut-black;
  deprecatedGamutPurple: $deprecated-gamut-purple;
  deprecatedGamutRoyalBlue: $deprecated-gamut-royal-blue;
  deprecatedGamutBlue: $deprecated-gamut-blue;
  deprecatedGamutRed: $deprecated-gamut-red;
  deprecatedGamutMint: $deprecated-gamut-mint;
  deprecatedGamutYellow: $deprecated-gamut-yellow;
  deprecatedGamutGrey: $deprecated-gamut-grey;

  deprecatedGamutPurpleSwatches:
    $deprecated-gamut-purple-100
    $deprecated-gamut-purple-200
    $deprecated-gamut-purple-300
    $deprecated-gamut-purple-400
    $deprecated-gamut-purple-500
    $deprecated-gamut-purple-600
    $deprecated-gamut-purple-700
    $deprecated-gamut-purple-800
    $deprecated-gamut-purple-900;

  deprecatedGamutRoyalBlueSwatches:
    $deprecated-gamut-royal-blue-100
    $deprecated-gamut-royal-blue-200
    $deprecated-gamut-royal-blue-300
    $deprecated-gamut-royal-blue-400
    $deprecated-gamut-royal-blue-500
    $deprecated-gamut-royal-blue-600
    $deprecated-gamut-royal-blue-700
    $deprecated-gamut-royal-blue-800
    $deprecated-gamut-royal-blue-900;

  deprecatedGamutBlueSwatches:
    $deprecated-gamut-blue-100
    $deprecated-gamut-blue-200
    $deprecated-gamut-blue-300
    $deprecated-gamut-blue-400
    $deprecated-gamut-blue-500
    $deprecated-gamut-blue-600
    $deprecated-gamut-blue-700
    $deprecated-gamut-blue-800
    $deprecated-gamut-blue-900;

  deprecatedGamutRedSwatches:
    $deprecated-gamut-red-100
    $deprecated-gamut-red-200
    $deprecated-gamut-red-300
    $deprecated-gamut-red-400
    $deprecated-gamut-red-500
    $deprecated-gamut-red-600
    $deprecated-gamut-red-700
    $deprecated-gamut-red-800
    $deprecated-gamut-red-900;

  deprecatedGamutMintSwatches:
    $deprecated-gamut-mint-100
    $deprecated-gamut-mint-200
    $deprecated-gamut-mint-300
    $deprecated-gamut-mint-400
    $deprecated-gamut-mint-500
    $deprecated-gamut-mint-600
    $deprecated-gamut-mint-700
    $deprecated-gamut-mint-800
    $deprecated-gamut-mint-900;

  deprecatedGamutYellowSwatches:
    $deprecated-gamut-yellow-100
    $deprecated-gamut-yellow-200
    $deprecated-gamut-yellow-300
    $deprecated-gamut-yellow-400
    $deprecated-gamut-yellow-500
    $deprecated-gamut-yellow-600
    $deprecated-gamut-yellow-700
    $deprecated-gamut-yellow-800
    $deprecated-gamut-yellow-900;

  deprecatedGamutGreySwatches:
    $deprecated-gamut-grey-100
    $deprecated-gamut-grey-200
    $deprecated-gamut-grey-300
    $deprecated-gamut-grey-400
    $deprecated-gamut-grey-500
    $deprecated-gamut-grey-600
    $deprecated-gamut-grey-700
    $deprecated-gamut-grey-800
    $deprecated-gamut-grey-900;
}
