$border-color: #333;

.heading {
  font-size: 22px;
  font-weight: 400;
  margin: 0 0 8px 4px;
  padding: 0;
}

.swatchContainer {
  width: max-content;

  &:first-of-type {
    .swatch {
      border-radius: 8px 8px 0 0;
    }
  }

  &:last-of-type {
    .swatch {
      border-radius: 0 0 8px 8px;
      border-bottom: 1px solid $border-color;
    }
  }
}

.swatch {
  height: 64px;
  width: 104px;
  border: 1px solid $border-color;
  border-bottom: 0;
  margin-right: 8px;
}

.name {
  font-family: monospace;
  margin-right: 16px;
}

.hexcode {
  font-weight: bold;
  font-size: 13px;
}
