@import "~@codecademy/gamut-styles/utils";

.staticHeader {
  background: transparent;
  border-bottom: 1px solid transparent;
  position: static;
}

.stickyHeader {
  border-bottom: 1px solid $color-navy;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
}

.visuallyShow {
  opacity: 1;
}

.visuallyHide {
  opacity: 0;
}

.translateDown {
  transform: translateY(0);
}

.translateUp {
  transform: translateY(-100%);
}

.transitionOpacity {
  transition: opacity 0.5s ease-in-out;
}

.transitionSlide {
  transition: transform 0.15s ease-in-out;
}
