@import "~@codecademy/gamut-styles/utils";

.staticHeader {
  background: transparent;
  border-bottom: 1px solid transparent;
  position: static;
}

.stickyHeader {
  border-bottom: 1px solid $color-navy;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
}

.transitionSlideDown {
  transform: translateY(0);
  transition: transform 0.15s ease-in-out;

  // margin-top: 0;
  // transition: margin-top 0.15s ease-in-out;

  // visibility: visible;
  // opacity: 1;
  // transition: visibility 0s, opacity 0.5s linear;
}

.transitionSlideUp {
  transform: translateY(-100%);
  transition: transform 0.15s ease-in-out;

  // margin-top: -80px;
  // transition: margin-top 0.15s ease-in-out;

  // visibility: hidden;
  // opacity: 0;
  // transition: visibility 0s, opacity 0.5s linear;
}

.transitionFadeOut {
  background: transparent;
  border-bottom: 1px solid transparent;
  transition: background 0.5s ease-in-out, border-bottom 0.5s ease-in-out;
}
