@import "~@codecademy/gamut-styles/utils";

.radialProgress {
  position: relative;
}

.children {
  align-items: center;
  display: flex;
  height: 100%;
  left: 0;
  top: 0;
  justify-content: center;
  position: absolute;
  width: 100%;
}
