@import "~@codecademy/gamut-styles/utils";

$button-width: 11.25rem;

.skipToContent {
  opacity: 0;
  position: absolute;
  top: 100vh;

  &:focus {
    color: $color-black;
    cursor: pointer;
    display: flex;
    font-weight: bold;
    justify-content: center;
    left: calc(50% - #{$button-width / 2});
    opacity: 1;
    padding: 1.5rem 0;
    text-decoration: none;
    top: 1rem;
    width: $button-width;
  }
}

.downArrowIcon {
  margin-left: 0.5rem;
  margin-right: -0.5rem;
}
