@import "~@codecademy/gamut-styles/utils";

.section {
  margin: 1rem 0;
}

.sectionDark {
  color: $color-gray-100;

  .heading {
    color: $color-gray-100;
  }
}

.children {
  display: flex;
  flex-direction: column;
}
