@import "~@codecademy/gamut-styles/utils";

@import url(https://fonts.googleapis.com/css?family=Oxygen:300,700);

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: $font-size-base;
}

body {
  line-height: 1.45;
}

body,
button,
input,
select {
  color: $color-grey-5;
  font-family: $font-system;
  font-weight: 300;
}

p {
  margin-bottom: 1.3rem;
}

h1,
h2,
h3,
h4 {
  font-weight: inherit;
  line-height: 1.2;
  margin: 1.414rem 0 0.5rem;
  @include font-smoothing;
}

h1 {
  font-size: $base-unit * 3;
  margin-top: 0;
}

h2 {
  font-size: $base-unit * 2.25;
}

h3 {
  font-size: $base-unit * 2;
}

h4 {
  font-size: $base-unit * 1.5;
}

h5 {
  font-size: $base-unit * 1;
}

small {
  font-size: $base-unit / 1.5;
}

th {
  font-weight: 600;
}
