@import "~@codecademy/gamut-styles/utils";

.copy {
  display: inline-block;
  text-align: center;
  font-size: px-rem(16);
  &::after {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}

.icon {
  margin-left: px-rem(5);
  color: $color-navy;
  transition: transform 0.35s ease-out;
}

.menuItem {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.7rem 2rem;
  width: 100%;
  cursor: pointer;
  color: $color-navy;
  border-radius: 2px;
  &:hover {
    color: $color-hyper;
    text-decoration: none;
  }
  &:focus,
  &:active {
    text-decoration: none;
    outline: none;
  }
  &:focus-visible {
    outline: 0.3rem auto $color-navy;
  }
}

.open {
  .copy {
    font-weight: bold;
  }
  .icon {
    transform: rotate(-180deg);
  }
}
