@import "~@codecademy/gamut-styles/utils";

.container {
  text-align: center;
}

.heading {
  text-align: center;
  max-width: px-rem(431px);
  color: $color-white;
  font-size: px-rem(28px);
  line-height: px-rem(32px);
  margin: 5rem auto 1rem;

  @include screen-size-gte($grid-xs-min) {
    font-size: px-rem(48px);
    line-height: px-rem(56px);
  }
}

.description {
  text-align: center;
  color: $color-white;
  margin-bottom: 1.75rem;
}

.button {
  text-align: center;
  width: px-rem(254px);
  margin: 0 auto;
  height: px-rem(56px);
}
