@import "~@codecademy/gamut-styles/utils";

.aboutCell {
  display: block;
}

.heading {
  border-bottom: 1px solid $color-gray-200;
  color: $color-gray-600;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding-bottom: 0.25rem;
}

.children {
  font-size: 0.9rem;
}

.examples {
  font-size: 0.8rem;
}
