@import "~@codecademy/gamut-styles/utils";

$tab-color: $deprecated-gamut-purple-600;
$tab-border-radius: 0.25rem;

.tabListItem {
  list-style-type: none;
  flex: 1;
  min-width: 6rem;
  max-width: 20rem;
  &:first-of-type a {
    border-top-left-radius: $tab-border-radius;
    border-bottom-left-radius: $tab-border-radius;
    border-left: 1px solid $tab-color;
  }
  &:last-of-type a {
    border-top-right-radius: $tab-border-radius;
    border-bottom-right-radius: $tab-border-radius;
  }
}
.tab {
  display: block;
  border: 1px solid $tab-color;
  border-left: 0;
  padding: 0.5rem;
  color: $tab-color;
  font-weight: bold;
  text-decoration: none !important;
  text-align: center;
  transition: color 0.2s, background-color 0.2s;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: $deprecated-gamut-purple-100;
  }
}

.active {
  -webkit-font-smoothing: antialiased;
  color: $color-white;
  background-color: $tab-color;
  &:hover,
  &:focus {
    background-color: $tab-color;
    color: $color-white;
  }
  &:focus {
    background-color: lighten($tab-color, 10%);
  }
}
