@import "~@codecademy/gamut-styles/utils";

$close-button-color: fade-out($color-gray-900, 0.4);

.container {
  align-items: flex-start;
  background-color: $color-white;
  display: flex;
  margin-bottom: 4rem;
  margin-top: 1rem;
}

.containerBordered {
  border-bottom: 2px solid $color-gray-400;
  padding: 1rem;

  @include sm-viewport {
    padding: 1rem 3rem;
  }
}

.containerFullWidth {
  padding: 1rem 0;

  @include md-viewport {
    padding: 0.5rem 0;
  }
}

.content {
  align-items: center;
  display: flex;
  font-size: 1.1rem;
  padding-left: 2rem;
}

.closeButton {
  background: transparent;
  border-radius: 3px;
  border: 0;
  color: $close-button-color;
  display: flex;
  justify-content: center;
  margin-right: -0.75rem;
  min-width: auto;
  padding: 0.75rem;

  &:hover,
  &:focus-visible {
    background-color: fade-out($color-gray-900, 0.94);
    box-shadow: none;
    color: $close-button-color;
  }
}
