@import "~@codecademy/gamut-styles/utils";

.textLink {
  background: none;
  border: 0;
}

.standard,
.underlineTransition,
.colorTransition:hover,
.colorTransition:focus {
  color: $brand-purple;
}

.standard,
.underlineTransition:hover,
.underlineTransition:focus {
  text-decoration: underline;
}
