@use "~@codecademy/gamut-styles/utils" as *;

.accordionButton {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0.375rem 1rem;
  width: 100%;

  &.blue {
    color: $color-blue-200;
  }

  &.yellow {
    background-color: $color-yellow-200;
    border: solid $color-yellow-400;
    border-width: 1px 0;
    font-weight: normal;
    transition: background-color 0.15s ease-in-out;

    &:focus-visible {
      border-color: $color-yellow-800;
    }

    &:focus,
    &:hover {
      background-color: $color-yellow-300;
    }
  }

  &.large {
    border-radius: 2px;
    font-size: 1.5rem;

    .children {
      padding-top: 0.2rem;
    }

    .expansionIcon {
      margin-left: 1rem;
    }

    @include md-viewport {
      font-size: 1.75rem;
    }
  }
}

.expansionIcon {
  margin-left: 0.75rem;
  transition: transform 0.35s ease-out;
}

.expansionIconExpanded {
  transform: rotate(-180deg);
}
