$font-oxygen: 'Oxygen', 'Oxygen', 'Segoe UI', 'Helvetica Neue', sans-serif;
$font-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$font-base: 'Oxygen', 'Oxygen', 'Segoe UI', 'Helvetica Neue', sans-serif;
$font-monospace: Monaco, Menlo, 'Ubuntu Mono', 'Droid Sans Mono', Consolas, monospace;
$bp-phone: 0;
$bp-tablet: 736px;
$bp-desktop: 960px;
@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}

@mixin no-select {
  -webkit-touch-callout: none;
  user-select: none;
}


// Media query abstractions

// variables are defined in breakpoints.json

@mixin screen-size-lte($max) {
  @media screen and (max-width: $max) {
    @content;
  }
}

@mixin screen-size-between($min, $max) {
  @media screen and (min-width: $min) and (max-width: $max) {
    @content;
  }
}

@mixin screen-size-gte($min) {
  @media screen and (min-width: $min) {
    @content;
  }
}

// Helper mixins

@mixin device-phone {
  @include screen-size-between($bp-phone, $bp-tablet - 1) { @content; }
}

@mixin device-tablet {
  @include screen-size-between($bp-tablet, $bp-desktop - 1) { @content; }
}

@mixin device-desktop {
  @include screen-size-gte($bp-desktop) { @content; }
}

@mixin devices($devices...) {
  @each $device in $devices {
    @if $device == phone {
      @include device-phone { @content; };
    }
    @if $device == tablet {
      @include device-tablet { @content; };
    }
    @if $device == desktop {
      @include device-desktop { @content; };
    }
  }
}



// depth based box-shadows

@mixin shadow($depth: 1) {
  @if $depth == 1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  @if $depth == 2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  @if $depth == 3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  @if $depth == 4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  @if $depth == 5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }
}
