<!DOCTYPE html>
  <html class="no-js">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title></title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="./stylesheets/main.css">
    </head>
    <body>
      <% _.each(yield, function(group) { %>
        <div class="color-group">
          <h3 class="color-group__heading"><%= group.title %></h3>
          <div class="color-group__colors">
            <% _.each(group.colors, function(color) { %>
            <div class="color">
              <div class="color__swatch" style="background-color: <%= color.value %>"></div>
              <div class="color__values">
                <input type="text" class="color__title color__title--js" value="<%= color.JSON %>"></input>
                <input type="text" class="color__title color__title--scss" value="<%= color.SCSS %>"></input>
                <input type="text" class="color__title color__title--value" value="<%= color.value %>"></input>
              </div>
            </div>
            <% }); %>
          </div>
        </div>
      <% }); %>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>
      <script>
        $(document).on('click', '.color__title', function(e) {
          $(e.currentTarget).select();
        });
      </script>
    </body>
</html>
