@import "~@codecademy/gamut-styles/utils";

$arrow-width: 1rem;
$arrow-height: 0.5rem;
$arrow-size-raw: #{($arrow-width + $arrow-height) / 2};
$arrow-padding-horizontal: 1.5rem;
$arrow-padding-vertical: 0.25rem;

$container-offset-horizontal: calc(
  100% - #{($arrow-width / 2) + $arrow-padding-horizontal}
);

$container-offset-horizontal-grid-form-icon: calc(
  100% - #{($arrow-width / $arrow-padding-horizontal) + $arrow-padding-horizontal}
);

$container-offset-vertical: calc(
  100% + #{$arrow-height + $arrow-padding-vertical}
);

$arrow-offset-horizontal: #{$arrow-padding-horizontal - ($arrow-width / 2)};
$arrow-offset-vertical: -#{$arrow-height / 2};

$slight-shadow: rgba(0, 0, 0, 0.15);

.toolTipWrapper {
  position: relative;
  display: inline-flex;
}

.targetContainer {
  cursor: pointer;
  border: 0;
  background: none;
  padding: 0;
}

.toolTipContainer {
  @include font-smoothing;

  display: flex;
  opacity: 0;
  transition: opacity 0ms;
  transition-delay: 750ms;
  position: absolute;
  width: 16rem;
  visibility: hidden;

  // Both before and after psuedo-elements are used because ::after's background should go over the container's
  // and ::before's box-shadow should be behind the container itself
  &::after,
  &::before {
    content: "";
    display: block;
    height: $arrow-height;
    position: absolute;
    transform: rotate(45deg);
    width: $arrow-height;
    z-index: 1;
  }

  &::after {
    background: $color-white;
  }
}

.targetContainer:hover + .toolTipContainer,
.targetContainer:focus + .toolTipContainer,
.toolTipContainer:hover {
  opacity: 1;
  visibility: visible;
}

.toolTipContainerDark::after {
  background: $color-black;
}

.top-left,
.top-right {
  bottom: $container-offset-vertical;

  &::after,
  &::before {
    bottom: $arrow-offset-vertical;
  }

  &::before {
    box-shadow: 2px 2px 4px 0 $slight-shadow;
  }

  .toolTipBody {
    box-shadow: 0 2px 4px 0 $slight-shadow;
  }
}

.bottom-left,
.bottom-right {
  top: $container-offset-vertical;

  &::after,
  &::before {
    top: $arrow-offset-vertical;
  }

  &::before {
    box-shadow: -2px -2px 4px 0 $slight-shadow;
  }

  .toolTipBody {
    box-shadow: 0 0 4px 0 $slight-shadow;
  }
}

.bottom-left,
.top-left {
  justify-content: flex-end;
  right: $container-offset-horizontal;

  &::after,
  &::before {
    right: $arrow-offset-horizontal;
  }
}

.bottom-right,
.top-right {
  left: $container-offset-horizontal;

  &::after,
  &::before {
    left: $arrow-offset-horizontal;
  }
}

.toolTipBody {
  display: inline-block;
  font-size: px-rem(14px);
  line-height: px-rem(18px);
  padding: 0.6rem 0.75rem;
  z-index: 1;

  .toolTipContainerLight & {
    background: $color-white;
    color: $color-black;
  }

  .toolTipContainerDark & {
    background: $color-black;
    color: $color-white;
  }
}

.grid-form-icon,
.top-left {
  justify-content: flex-end;
  left: $container-offset-horizontal-grid-form-icon;

  &::after,
  &::before {
    left: $arrow-padding-horizontal;
  }
}

.grid-form-icon,
.bottom-right {
  top: $container-offset-vertical;

  &::after,
  &::before {
    top: $arrow-offset-vertical;
  }

  &::before {
    box-shadow: -2px -2px 4px 0 $slight-shadow;
  }

  .toolTipBody {
    box-shadow: 0 0 4px 0 $slight-shadow;
  }
}
