@import '~@codecademy/gamut-styles/utils';
@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700');

// Font families
$font-base: 'Oxygen', 'Oxygen', 'Segoe UI', 'Helvetica Neue', sans-serif;
$font-monospace: Monaco, Menlo, 'Ubuntu Mono', 'Droid Sans Mono', Consolas, monospace;

// Base measures
$font-size: 1rem;
$font-weight-normal: 400;
$font-weight-light: 300;
$font-weight-heavy: 900;
$text-color: $color-grey-5;
$link-color: $color-mint;

// Typography variables
$font-size-1: 2.875rem;
$font-size-2: 2rem;
$font-size-3: 1.4375rem;
$font-size-4: 1rem;
$font-size-5: 0.75rem;
