@import "~@codecademy/gamut-styles/utils";

.notification {
  width: 100%;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: flex-start;
  font-size: 0.875rem;
  color: $color-black;
  border-bottom: 1px solid $color-gray-200;
}

.notification:last-of-type {
  border-bottom: none;
}

.notification:hover {
  text-decoration: none;
}

.notification.unread {
  background-color: rgba($color-blue-500, 0.1);

  .time {
    color: $color-gray-700;
  }
}

.text {
  max-height: 4rem;
  overflow: hidden;
}

.time {
  color: $color-gray-500;
}
