@import "~@codecademy/gamut-styles/utils";

$appbar-gutter: rem(8px);
$appbar-tab-width: rem(48px);
$appbar-z: 14;

.wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  z-index: $appbar-z;
}

.section {
  display: flex;
  align-items: center;
  height: 100%;
  z-index: 1;
}

.sectionRight {
  justify-content: flex-end;
}

.sectionLeft {
  flex: 1;
}

.sectionRight,
.sectionLeft {
  flex: 1;
}

.sectionCenter {
  flex: 2;
  justify-content: center;
  text-align: center;
}
