@use "~@codecademy/gamut-styles/utils";

@mixin markdown-style(
  $font-size: 1.1rem,
  $line-height: 1.6,
  $base-margin: 1rem
) {
  font-size: $font-size;

  .h1,
  .h2,
  .h3,
  .h4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    @include font-smoothing;
  }

  .p {
    line-height: $line-height;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    &:empty {
      display: none;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  .ul,
  .ol {
    list-style: none;
    padding-left: 0;
    margin: $base-margin 0;
    .ul,
    .ol {
      // Even out nested lists
      margin-top: calc($base-unit / 2);
      li:last-child {
        margin-bottom: 0;
      }
    }
    .li {
      position: relative;
      margin-left: $base-unit * 2;
      margin-bottom: calc($base-unit / 2);
      line-height: $line-height;
      &:last-child {
        margin-bottom: $base-unit;
      }
    }
  }

  .ul .li::before {
    background: currentColor;
    border-radius: 100%;
    content: " ";
    display: inline-block;
    height: 0.5rem;
    left: -1.25rem;
    line-height: 1.6;
    position: absolute;
    text-align: center;
    top: (1.6 - $base-unit);
    width: 0.5rem;
  }

  .ol {
    counter-reset: "ordered-list";

    > .li {
      counter-increment: ordered-list;

      &::before {
        background: transparent;
        content: counter(ordered-list) ".";
        position: absolute;
        top: 0;
        left: -($base-unit * 2);
        width: $base-unit * 2;
        text-align: center;
        line-height: inherit;
      }
    }
  }

  // Inline code style.

  .code {
    padding: 0 0.25rem;
    margin: 0 0.0625rem;
    border-radius: 0.125rem;
    color: $deprecated-gamut-purple-900;
    background-color: mix($color-gray-200, $color-gray-100);
    white-space: normal;
    vertical-align: baseline;
    font-family: $font-monospace;
    font-size: 0.8em;
  }

  .pre {
    white-space: pre-wrap;
    > .code {
      display: block;
      white-space: pre-wrap;
      padding: 0;
      margin: 0;
      color: inherit;
      background-color: transparent;
      font-family: $font-monospace;
    }
  }

  .img {
    display: flex;
    max-width: 100%;
    margin: $base-margin auto 0;
  }

  .p .img {
    margin: 0 auto;
  }

  .iframe {
    width: 100%;
  }

  .blockquote {
    display: block;
    font-family: $font-family-base;
    padding-left: $base-margin;
    border-left: calc($base-margin / 2) solid $color-gray-200;
    margin: 0;
    margin-bottom: $base-margin;
    font-style: italic;
    // The Markdown processor combines multiple lines
    // into a single tag if the same tag repeats line to line
    // this is mainly for `<p>` tags since that's the default
    > * {
      white-space: pre-wrap;
    }
  }

  .details {
    margin-bottom: $base-margin;
    summary {
      font-weight: bold;
      cursor: pointer;
    }
  }

  .details[open] summary {
    margin-bottom: $base-margin;
  }
}
