@import "~@codecademy/gamut-styles/utils";

.formGroup {
  margin-bottom: 0;

  .formGroupLabel {
    display: inline-block;
    margin-right: 0.5rem;
  }

  .gridFormInput {
    width: 100%;
  }

  .invisible {
    display: block;
    opacity: 0;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
  }
}
