@import "~@codecademy/gamut-styles/utils";

.formGroup {
  margin-bottom: 0;

  .formGroupLabel {
    display: inline-block;
    margin-right: 0.5rem;
  }

  .gridFormInput {
    width: 100%;
  }

  // See https://wdn.unl.edu/page-title-h1-best-practices
  // We can't use display: none, because it needs to still be narrated
  .invisible {
    display: inline-block;
    font-size: 0;
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
  }
}
