$color-white: #FFFFFF;
$color-black: #000000;
$color-grey-1: #E9EAEA;
$color-grey-2: #D4D5D6;
$color-grey-3: #BEBFC1;
$color-grey-4: #939598;
$color-grey-5: #3E3E40;
$color-blue: #52B1DB;
$color-darkblue: #204056;
$color-midnightblue: #152B39;
$color-mint: #34B3A0;
$color-red: #F65A5B;
$swatches-blue-100: #DCEFF8;
$swatches-blue-200: #BAE0F1;
$swatches-blue-300: #97D0E9;
$swatches-blue-400: #75C1E2;
$swatches-blue-500: #52B1DB;
$swatches-blue-600: #4292B4;
$swatches-blue-700: #32728D;
$swatches-blue-800: #215366;
$swatches-blue-900: #11333F;
$swatches-cc-blue-100: #D3DDE2;
$swatches-cc-blue-200: #A7BBC6;
$swatches-cc-blue-300: #7A98A9;
$swatches-cc-blue-400: #4E768D;
$swatches-cc-blue-500: #225470;
$swatches-cc-blue-600: #214A63;
$swatches-cc-blue-700: #204056;
$swatches-cc-blue-800: #163142;
$swatches-cc-blue-900: #0D222D;
$swatches-grey-blue-100: #EEF0F1;
$swatches-grey-blue-200: #BCC1C5;
$swatches-grey-blue-300: #9AA2A8;
$swatches-grey-blue-400: #78838B;
$swatches-grey-blue-500: #57646E;
$swatches-grey-blue-600: #354551;
$swatches-grey-blue-700: #253845;
$swatches-grey-blue-800: #152B39;
$swatches-grey-blue-900: #0B161D;
$swatches-grey-100: #E9EAEA;
$swatches-grey-200: #D4D5D6;
$swatches-grey-300: #BEBFC1;
$swatches-grey-400: #A9AAAD;
$swatches-grey-500: #939598;
$swatches-grey-600: #76787B;
$swatches-grey-700: #5A5B5E;
$swatches-grey-800: #3E3E40;
$swatches-grey-900: #212123;
$swatches-mint-100: #D7F6F0;
$swatches-mint-200: #B0EDE1;
$swatches-mint-300: #88E3D2;
$swatches-mint-400: #61DAC3;
$swatches-mint-500: #39D1B4;
$swatches-mint-600: #37C2AA;
$swatches-mint-700: #34B3A0;
$swatches-mint-800: #1A7B72;
$swatches-mint-900: #004444;
$swatches-red-100: #FDDEDE;
$swatches-red-200: #FBBDBD;
$swatches-red-300: #FA9C9D;
$swatches-red-400: #F87B7C;
$swatches-red-500: #F65A5B;
$swatches-red-600: #C64748;
$swatches-red-700: #963435;
$swatches-red-800: #652022;
$swatches-red-900: #350D0F;
$swatches-yellow-100: #FFEDD6;
$swatches-yellow-200: #FFDBAC;
$swatches-yellow-300: #FFCA83;
$swatches-yellow-400: #FFB85A;
$swatches-yellow-500: #FBB03B;
$swatches-yellow-600: #C88B2E;
$swatches-yellow-700: #956721;
$swatches-yellow-800: #634213;
$swatches-yellow-900: #301E06;
$swatches-code-default: #FFFFFF;
$swatches-code-atom: #FF7155;
$swatches-code-attribute: #CEFF00;
$swatches-code-builtin: #DDDA6F;
$swatches-code-comment: #737887;
$swatches-code-def: #B5A1A1;
$swatches-code-error: #E83131;
$swatches-code-keyword: #64FFE1;
$swatches-code-meta: #D478EA;
$swatches-code-number: #EF9EB4;
$swatches-code-operator: #B5A1A1;
$swatches-code-property: #9771FF;
$swatches-code-qualifier: #FFF543;
$swatches-code-string-1: #FFDE52;
$swatches-code-string-2: #AC99BF;
$swatches-code-tag: #E85D7F;
$swatches-code-variable-1: #249CFF;
$swatches-code-variable-2: #57FF93;
$swatches-code-variable-3: #5AFFEF;
$swatches-basic-white: #FFFFFF;
$swatches-basic-black: #000000;
