// =============================================================================
// NOTE: IKONA IS FROZEN AND DEPRECATED. THIS FILE SHOULD NOT BE CHANGED
// =============================================================================

// font is imported in the app css, not here

@mixin ikona-styles {
  font-family: "ikona";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
  text-decoration: none;
  text-transform: none;
}

%ikona {
  @include ikona-styles;
}

@function ikona-char($filename) {
  $char: "";

  @if $filename == path-change {
    $char: "\EA01";
  }
  @if $filename == arrow-thin-up {
    $char: "\EA02";
  }
  @if $filename == arrow-thin-down {
    $char: "\EA03";
  }
  @if $filename == path-complete {
    $char: "\EA04";
  }
  @if $filename == arrow-thin-right {
    $char: "\EA05";
  }
  @if $filename == arrow-thin-left {
    $char: "\EA06";
  }
  @if $filename == streak {
    $char: "\EA07";
  }
  @if $filename == badge {
    $char: "\EA08";
  }
  @if $filename == browser {
    $char: "\EA09";
  }
  @if $filename == check {
    $char: "\EA0A";
  }
  @if $filename == close {
    $char: "\EA0B";
  }
  @if $filename == comments {
    $char: "\EA0C";
  }
  @if $filename == editor {
    $char: "\EA0D";
  }
  @if $filename == explore {
    $char: "\EA0E";
  }
  @if $filename == file-alt {
    $char: "\EA0F";
  }
  @if $filename == file-edit {
    $char: "\EA10";
  }
  @if $filename == file {
    $char: "\EA11";
  }
  @if $filename == fit-normal {
    $char: "\EA12";
  }
  @if $filename == fit-shrink {
    $char: "\EA13";
  }
  @if $filename == folder-add {
    $char: "\EA14";
  }
  @if $filename == folder-edit {
    $char: "\EA15";
  }
  @if $filename == folder-filled {
    $char: "\EA16";
  }
  @if $filename == folder {
    $char: "\EA17";
  }
  @if $filename == fullscreen {
    $char: "\EA18";
  }
  @if $filename == image {
    $char: "\EA19";
  }
  @if $filename == in-progress {
    $char: "\EA1A";
  }
  @if $filename == instructions {
    $char: "\EA1B";
  }
  @if $filename == learn {
    $char: "\EA1C";
  }
  @if $filename == list {
    $char: "\EA1D";
  }
  @if $filename == lock {
    $char: "\EA1E";
  }
  @if $filename == minimize {
    $char: "\EA1F";
  }
  @if $filename == arrow-filled-down {
    $char: "\EA20";
  }
  @if $filename == arrow-filled-left {
    $char: "\EA21";
  }
  @if $filename == arrow-filled-right {
    $char: "\EA22";
  }
  @if $filename == arrow-filled-up {
    $char: "\EA23";
  }
  @if $filename == objective {
    $char: "\EA24";
  }
  @if $filename == plus {
    $char: "\EA25";
  }
  @if $filename == projects {
    $char: "\EA26";
  }
  @if $filename == refresh {
    $char: "\EA27";
  }
  @if $filename == reset {
    $char: "\EA28";
  }
  @if $filename == share {
    $char: "\EA29";
  }
  @if $filename == sql {
    $char: "\EA2A";
  }
  @if $filename == star {
    $char: "\EA2B";
  }
  @if $filename == steps {
    $char: "\EA2C";
  }
  @if $filename == support-filled {
    $char: "\EA2D";
  }
  @if $filename == support {
    $char: "\EA2E";
  }
  @if $filename == terminal {
    $char: "\EA2F";
  }
  @if $filename == trash {
    $char: "\EA30";
  }
  @if $filename == bell {
    $char: "\EA31";
  }
  @if $filename == calendar {
    $char: "\EA32";
  }
  @if $filename == call {
    $char: "\EA33";
  }
  @if $filename == check-heavy-circled {
    $char: "\EA34";
  }
  @if $filename == check-heavy {
    $char: "\EA35";
  }
  @if $filename == check-thin {
    $char: "\EA36";
  }
  @if $filename == circle-heavy {
    $char: "\EA37";
  }
  @if $filename == code {
    $char: "\EA38";
  }
  @if $filename == edit {
    $char: "\EA39";
  }
  @if $filename == email {
    $char: "\EA3A";
  }
  @if $filename == close-thin {
    $char: "\EA3B";
  }
  @if $filename == facebook {
    $char: "\EA3C";
  }
  @if $filename == favicon-solid {
    $char: "\EA3D";
  }
  @if $filename == favicon {
    $char: "\EA3E";
  }
  @if $filename == fork {
    $char: "\EA3F";
  }
  @if $filename == gear {
    $char: "\EA40";
  }
  @if $filename == github {
    $char: "\EA41";
  }
  @if $filename == gplus {
    $char: "\EA42";
  }
  @if $filename == hint {
    $char: "\EA43";
  }
  @if $filename == instagram {
    $char: "\EA44";
  }
  @if $filename == link {
    $char: "\EA45";
  }
  @if $filename == linkedin {
    $char: "\EA46";
  }
  @if $filename == warning {
    $char: "\EA47";
  }
  @if $filename == marker {
    $char: "\EA48";
  }
  @if $filename == medium {
    $char: "\EA49";
  }
  @if $filename == menu {
    $char: "\EA4A";
  }
  @if $filename == overview {
    $char: "\EA4B";
  }
  @if $filename == pdf {
    $char: "\EA4C";
  }
  @if $filename == person {
    $char: "\EA4D";
  }
  @if $filename == reddit {
    $char: "\EA4E";
  }
  @if $filename == rss {
    $char: "\EA4F";
  }
  @if $filename == squares {
    $char: "\EA50";
  }
  @if $filename == stackoverflow {
    $char: "\EA51";
  }
  @if $filename == tag {
    $char: "\EA52";
  }
  @if $filename == twitter {
    $char: "\EA53";
  }
  @if $filename == upload {
    $char: "\EA54";
  }
  @if $filename == view {
    $char: "\EA55";
  }
  @if $filename == youtube {
    $char: "\EA56";
  }
  @if $filename == zoom {
    $char: "\EA57";
  }
  @if $filename == lock-heavy {
    $char: "\EA58";
  }

  @return $char;
}

@mixin ikona($filename, $insert: before, $extend: true) {
  &:#{$insert} {
    @if $extend {
      @extend %ikona;
    } @else {
      @include ikona-styles;
    }
    content: ikona-char($filename);
  }
}
