@import "~@codecademy/gamut-styles/utils";

$background-pattern-offset: px-rem(16px);

.testimonialWrapper {
  position: relative;
  width: fit-content;
  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: url("./assets/dots.svg");
    background-repeat: repeat;
    height: calc(100% - #{$background-pattern-offset});
    width: calc(100% - #{$background-pattern-offset});
  }
}

.darkWrapper {
  &::before {
    filter: invert(72%) sepia(58%) saturate(2004%) hue-rotate(266deg)
      brightness(99%) contrast(103%);
  }
}

.lightWrapper {
  &::before {
    filter: invert(49%) sepia(85%) saturate(1427%) hue-rotate(-20deg)
      brightness(100%) contrast(233%);
  }
}

.testimonialCardContainer {
  display: grid;
  grid-template: max-content #{$background-pattern-offset} / max-content #{$background-pattern-offset};
}

.contentContainer {
  display: grid;
  position: relative;
}

.smallContainer {
  padding: 1.75rem 1.5rem 2rem;
  max-width: px-rem(396px);
  grid-template-columns: auto 1fr;
  grid-gap: 1rem;
  grid-template-areas:
    "avatar byline"
    "quote quote";
}

.darkContainer {
  background-color: $brand-dark-blue;
  color: $color-white;
}

.lightContainer {
  background-color: $color-white;
  color: $brand-dark-blue;
}

.avatarContainer {
  grid-area: avatar;
}

.bylineContainer {
  grid-area: byline;
}

.smallByline {
  max-width: px-rem(200px);
}

.quoteContainer {
  grid-area: quote;
}
