@import "~@codecademy/gamut-styles/utils";

$background-pattern-offset: px-rem(16px);

.testimonialWrapper {
  position: relative;
  width: fit-content;
  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: url("../assets/dots.svg");
    background-repeat: repeat;
    height: calc(100% - #{$background-pattern-offset});
    width: calc(100% - #{$background-pattern-offset});
  }
  @include screen-size-gte($grid-xs-min) {
    .mediumContainer,
    .largeContainer {
      &::before {
        content: "";
        position: absolute;
        right: 0;
        bottom: px-rem(-1px);
        height: 121px;
        width: 186px;
      }
    }
  }
}

.darkWrapper {
  &::before {
    filter: invert(72%) sepia(58%) saturate(2004%) hue-rotate(266deg)
      brightness(99%) contrast(103%);
  }
  .contentContainer {
    background-color: $brand-dark-blue;
    color: $color-white;
  }
  @include screen-size-gte($grid-xs-min) {
    .mediumContainer,
    .largeContainer {
      &::before {
        background-image: url("./assets/purple_squiggle.svg");
      }
    }
  }
}

.lightWrapper {
  &::before {
    filter: invert(49%) sepia(85%) saturate(1427%) hue-rotate(-20deg)
      brightness(100%) contrast(233%);
  }
  .contentContainer {
    background-color: $color-white;
    color: $brand-dark-blue;
  }
  @include screen-size-gte($grid-xs-min) {
    .mediumContainer,
    .largeContainer {
      &::before {
        background-image: url("./assets/orange_squiggle.svg");
      }
    }
  }
}

.testimonialCardContainer {
  display: grid;
  grid-template: auto #{$background-pattern-offset} / auto #{$background-pattern-offset};
}

.contentContainer {
  display: grid;
  position: relative;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.02);
  }
}

.avatarContainer {
  margin-right: 1rem;
}

.smallContainer {
  padding: 1.75rem 1.5rem 2rem;
  max-width: px-rem(364px);
  grid-template-columns: auto 1fr;
  grid-row-gap: 1rem;
  grid-template-rows: minmax(px-rem(76px), auto) auto;

  .avatarContainer + .bylineContainer {
    grid-area: 1 / 2;
  }
  .quoteContainer {
    grid-area: 2 / span 2;
  }
}

.mediumContainer,
.largeContainer {
  max-width: px-rem(708px);
  grid-template-columns: px-rem(100px) 1fr;
  grid-row-gap: 1.75rem;
  padding: 2rem 1.5rem 1.5rem;
  grid-template-rows: minmax(px-rem(76px), auto) auto;
  @include screen-size-gte($grid-xs-min) {
    padding: 3rem 3rem 1.5rem;
  }
  .bylineContainer {
    grid-column: span 2;
    @include screen-size-gte($grid-xs-min) {
      grid-column-start: 2;
    }
  }
  .avatarContainer + .bylineContainer {
    grid-column: span 1;
  }
  .quoteContainer {
    grid-row-start: 2;
    @include screen-size-gte($grid-xs-min) {
      max-width: 28rem;
      padding-right: 2rem;
    }
  }
  .quoteContainer {
    grid-area: 2 / span 2;
    @include screen-size-gte($grid-xs-min) {
      grid-area: 2 / 2;
      padding-bottom: 3rem;
    }
  }
}

.largeContainer {
  @include sm-viewport {
    max-width: 100%;
    grid-template-columns: 13rem 1fr;
    grid-template-rows: minmax(13rem, auto);
    grid-row-gap: 0;
    padding: 3rem 6rem 4rem 3rem;
    .avatarContainer {
      margin-right: 0;
      grid-column: 1;
      grid-row: 1;
      justify-self: center;
    }
    .bylineContainer {
      grid-column: 1;
      grid-row: 1 / span 2;
      text-align: center;
      align-self: center;
      max-width: 14rem;
    }
    .avatarContainer + .bylineContainer {
      align-self: auto;
      padding-top: 8rem;
      grid-column: 1;
    }
    .quoteContainer {
      grid-column: 2;
      grid-row: 1;
      padding-left: 3rem;
      max-width: 100%;
      padding-right: 0;
      padding-bottom: 0;
    }
    .avatarContainer ~ .quoteContainer {
      grid-area: 1;
    }
  }
}

$large-avatar-size: px-rem(110px);
$large-avatar-offset: px-rem(8px);

.largeContainerAvatar {
  @include sm-viewport {
    width: $large-avatar-size + $large-avatar-offset;
    height: $large-avatar-size + $large-avatar-offset;

    &::before {
      height: $large-avatar-size;
      width: $large-avatar-size;
    }

    img {
      width: $large-avatar-size;
      height: $large-avatar-size;
    }
  }
}
