@import "~@codecademy/gamut-styles/utils";

.plainNavLink {
  font-weight: normal;
  min-width: 0;
  padding: 0.1rem;
  text-align: left;
}

.navLink {
  display: block;
}

.hoverable {
  &:hover {
    color: $color-hyper;
  }
}
