@import "~@codecademy/gamut-styles/utils";

.progressBar {
  overflow: hidden;
  position: relative;

  &.blue {
    background: $color-blue-800;
  }

  &.yellow {
    background: $color-gray-100;
  }
}

.bar {
  align-items: center;
  display: flex;
  height: 100%;
  transition: width 0.5s;
  position: relative;

  .blue & {
    background: $color-blue-500;
  }

  .yellow & {
    background: $color-yellow-500;
  }
}

.displayedPercent {
  font-weight: bold;
  padding: 0.5rem;
  text-align: right;
  width: 100%;

  .yellow & {
    color: $color-black;
  }
}

.stripes {
  position: absolute;
  z-index: 0;
  color: $color-navy;
}
