@import "~@codecademy/gamut-styles/utils";

.progressBar {
  overflow: hidden;

  &.blue {
    background: $color-blue-100;
  }

  &.yellow {
    background: $color-gray-100;
  }
}

.bar {
  align-items: center;
  display: flex;
  height: 100%;
  transition: width 0.5s;

  .blue & {
    background: $color-blue-700;
  }

  .yellow & {
    background: $color-yellow-500;
  }
}

.displayedPercent {
  font-weight: bold;
  padding: 0.5rem;
  text-align: right;
  width: 100%;

  .yellow & {
    color: $color-black;
  }
}
