@import "~@codecademy/gamut-styles/utils";

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.fixedPositioning {
  position: fixed;
}

.modalOpen {
  overflow-y: hidden;
  max-height: 100vh;
}
