.toolTipWrapper {
  position: relative;
  display: inline-flex;
}

.targetContainer {
  cursor: pointer;
  border: 0;
  background: none;
  padding: 0;

  &:hover + .toolTipContainer,
  &:focus + .toolTipContainer {
    display: block;
  }
}

.toolTipContainer {
  display: none;
  position: absolute;
  width: 17rem;
}

.toolTipBody {
  padding: 1rem;
}

.top-left {
  bottom: 100%;
  right: 100%;
}

.top-right {
  bottom: 100%;
  left: 100%;
}

.bottom-left {
  top: 100%;
  right: 100%;
}

.bottom-right {
  top: 100%;
  left: 100%;
}
