@import "~@codecademy/gamut-styles/utils";

$themeColors: (
  "error": (
    "background": $color-red-200,
    "color": $color-red-800,
  ),
  "success": (
    "background": $color-green-100,
    "color": $color-green-800,
  ),
  "alert": (
    "background": $color-yellow-200,
    "color": $color-yellow-800,
  ),
  "announcement": (
    "background": $color-purple-200,
    "color": $color-purple-800,
  ),
  "info": (
    "background": $color-white,
    "color": $color-gray-800,
  ),
);

.container {
  display: grid;
  padding: px-rem(16) px-rem(20);
  grid-template-columns: 1fr max-content;
  grid-column-gap: 1rem;
  grid-row-gap: 0.5rem;
  grid-template-rows: minmax(1.5rem, max-content);
  align-items: start;

  @include screen-size-lte($grid-sm-min) {
    align-items: start;
    grid-template-columns: max-content 1fr max-content;
    grid-template-rows: auto auto;
  }
}

.container__icon {
  grid-template-columns: max-content 1fr max-content max-content;

  @include screen-size-lte($grid-sm-min) {
    grid-template-columns: max-content 1fr max-content;
    grid-template-rows: auto auto;
  }
}

@each $theme, $map in $themeColors {
  .container__#{$theme} {
    background-color: map-get($map, "background");
    color: map-get($map, "color");
  }
}

.content {
  padding: px-rem(6);
  min-height: px-rem(32);
}

.content__noPadding {
  padding: px-rem(2);
}

.actionContainer {
  display: grid;
  align-items: start;
  justify-content: start;
  grid-template-columns: min-content;

  @include screen-size-lte($grid-sm-min) {
    grid-row-start: 2;
    grid-column-start: 2;
  }
}

.actionButton {
  font-weight: 700;
  font-size: px-rem(12);
}

.closeButton {
  display: grid;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: px-rem(6);
  margin-right: px-rem(-4);
  background-color: transparent;
}

@each $theme, $map in $themeColors {
  .closeButton__#{$theme} {
    color: map-get($map, "color");

    &:hover {
      color: darken(map-get($map, "color"), 20%);
    }

    &:focus,
    &:active {
      box-shadow: 0 0 0 2px map-get($map, "color");
    }
  }
}
