/*
And image uploaders.

Styleguide 5.1.3
*/

div.field.field--image {
  @extend %text--normal;
  background-color: white;
  display: inline-block;
  margin: 0.2em 0;
  position: relative;
  overflow: hidden;
  width: 100%;

  img {
    height: 8em;
    width: 8em;
    margin: 0 1em 0 0;
    float: left;
  }
  input {
  }
}
