
/*
And custom radio buttons.

Styleguide 5.1.1
*/


.field.field--radio {
  @include no-select;
  margin: 0.4em 0;
  height: $checkbox-radio-dimensions;

  input[type="radio"] {
    display: none;
  }

  input[type="radio"] + label {
    position: relative;
    cursor: pointer;
    display: block;
    padding-left: $checkbox-radio-dimensions + $checkbox-radio-label-gutter;
    height: $checkbox-radio-dimensions;
    margin: 0.4em 0;

    &:before {
      position: absolute;
      left: 0;
      top: ($checkbox-radio-dimensions - 1) * -1;
      padding: 0;
      border-radius: $checkbox-radio-dimensions;
      border: 1px solid $grey3;
      display: block;
      width: $checkbox-radio-dimensions;
      height: $checkbox-radio-dimensions;
      text-align: center;
      content: "•";
      font-size: $radio-font-size;
      margin-top: 0.4em;

    }
  }

  input[type="radio"][disabled] + label {
    cursor: not-allowed;

    &:before {
      opacity: 0.4;
    }
  }

  input[type="radio"]:not(:checked) {
    & + label:before {
      color: transparent;
    }
  }

  input[type="radio"]:checked {
    & + label:before {
      color: $darkblue;
    }

    &:hover + label:before {
      color: lighten($darkblue, 10%);
    }
  }

  input[type="radio"]:hover + label:before {
    border-color: lighten($grey3, 5%);
  }

  input[type="radio"] {
    visibility: hidden;
  }
}
