
/*
Our select dropdown element blends right in!

@background grey
@cols 4

Styleguide 5.1.4
*/


.field--select {
  &, select {
    font-size: 1rem;
    cursor: pointer !important;
  }

  // IE hack to hide the fugly default arrow
  // http://stackoverflow.com/a/20163273/827559
  select::-ms-expand {
    display: none;
  }

  select {
    // Resets
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;

    width: 100%;

    // YOU GOTTA LOVE WEB DEVELOPMENT
    // http://stackoverflow.com/a/18317228/827559
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';

    border-radius: none;
    background-color: white;
    border-radius: 0;
    padding: 0.8rem;
    border-width: 1px;
    border-style: solid;
  }

  &:hover {
    .new-cc-icon {
      color: white;
    }

    select {
      @extend %color-scheme--mint;
      border-color: $mint;
    }
  }

  .field-select__down-arrow-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 1.1rem;
    pointer-events: none;
  }

  &.field-select--small {
    &, select {
      font-size: 14px;
    }

    .field-select__down-arrow-icon {
      padding: 0.5rem;
    }

    select {
      padding: 0.25rem;
    }
  }

  &.field-select--no-padding-left select {
    padding-left: 0;
  }

}

.field-select--transparent select {
  background-color: transparent;
  border: none;
}

.field--select {
  position: relative;
}
