@import "~@codecademy/gamut-styles/utils";

.globalHeader {
  padding: 0.5rem 0;
  border-bottom: 1px solid $color-navy;
  box-shadow: none;
  z-index: 14; // does this need to be 14
  width: 100%;
}
