@import "~@codecademy/gamut-styles/utils";

.staticHeader,
.stickyHeader {
  box-shadow: none;
}

.staticHeader {
  background: transparent;
  border-bottom: 1px solid transparent;
  position: static;
}

.stickyHeader {
  border-bottom: 1px solid $color-navy;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

.showHeader {
  transform: translateY(0);
}

.hideHeader {
  transform: translateY(-100%);
}

.slideTransition {
  transition: transform 0.15s ease-in-out;
}

.fadeTransition {
  transition: all 0.5s ease-in-out;
}
