@import 'variables';

.labelCbx {
  cursor: pointer;

  .checkboxWrapper {
    @include no-select;
    margin: 0.4rem 0;
    width: 100%;
    font-weight: normal;
    padding: $form-padding;
    border-radius: $border-radius;
    border: 1px solid $swatches-grey-100;
    align-items: center;
    display: flex;
    align-items: flex-start;
  }

  input:checked + .checkboxWrapper .checkboxSquare {
    border-color: $color-mint;
    svg {
      path {
        fill: $color-mint;
      }
      polyline {
        stroke-dashoffset: 0;
      }
    }
  }

  input:checked + .checkboxWrapper {
    background-color: $swatches-grey-100;
    transition: $transition-time;
  }

  .checkboxSquare {
    position: relative;
    float: left;
    margin-right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid $swatches-grey-200;
    border-radius: $border-radius;
    min-width: 1.5rem;

    svg {
      position: absolute;
      top: -2px;
      left: -2px;

      path {
        fill: none;
      }

      & polyline {
        fill: none;
        stroke: $swatches-grey-100;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dasharray: 18px;
        stroke-dashoffset: 18px;
        transition: all $transition-time ease;
      }
    }
  }
}

.invisible {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  opacity: 0;
}
