@import 'variables';

.Checkbox {
  @include no-select;
  margin: 0.4rem 0;
  width: 100%;
  font-weight: normal;
}

.checkboxInput {
  display: none;
}

.checkboxLabel {
  display: flex;
  padding: $form-padding;
  border-radius: $border-radius;
  border: 1px solid $swatches-grey-100;
  align-items: center;
  transition: $transition-time;
  cursor: pointer;
}

.checkboxLabel::before {
  content: '';
  display: block;
  background-position: center;
  width: px-rem(24px);
  height: px-rem(24px);
  min-width: px-rem(24px);
  min-height: px-rem(24px);
  border-radius: $border-radius;
  border: 2px solid $swatches-grey-300;
  margin-right: $form-padding;
  transition: $transition-time;
  background-color: white;
}

.checkboxInput:checked + .checkboxLabel {
  background-color: $swatches-grey-100;
  transition: $transition-time;
}

.checkboxInput:checked + .checkboxLabel::before {
  background: url('data:image/svg+xml;utf8,<svg width="14" height="11" viewBox="0 0 14 11" xmlns="http://www.w3.org/2000/svg"><path d="M5.048 8.164L12.61.532l1.452 1.48L5.048 11-.032 5.98l1.408-1.409z" fill="%23E9EAEA"/></svg>') center center no-repeat;
  background-color: $color-mint;
  border-color: $color-mint;
}
