@import "variables";

.Input {
  font-size: 1rem;
  text-indent: $form-padding;
  padding: $form-padding 0;
  outline: none;
  width: 100%;
  border: 1px solid $color-border;
  border-radius: $border-radius;
  transition: border-color $transition-time;
  font-weight: normal;
  box-sizing: border-box;

  &::placeholder {
    color: $swatches-grey-500;
  }

  &:focus {
    border-color: $gamut-blue;
  }
}

.error {
  border-color: $swatches-red-400;
  &:focus {
    border-color: $swatches-red-200;
  }
}

.success {
  border-color: $swatches-mint-500;
}

.wrapper {
  position: relative;
}

.icon {
  position: absolute;
  right: 0.5rem;
  top: 50%;
}
