@import "~@codecademy/gamut-styles/utils";
@import "./utils";

.footer {
  position: relative; // so children can easily absolute position themselves off of the footer
}

.standardPadding {
  padding: 0 $side-padding;
}

.standardHeight {
  height: px-rem(56px);
}

.flex {
  display: flex;
  align-items: center;
}

.leftAlign {
  justify-content: flex-start;
}

.centerAlign {
  justify-content: center;
}

.rightAlign {
  justify-content: flex-end;
}

.transparentTopBorder {
  border-top: 1px solid transparent;
}

.solidTopBorder {
  border-top: 1px solid $deprecated-color-grey-2;
}

.dashedTopBorder {
  border-top: 1px dashed $deprecated-color-grey-2;
}
