@import "~@codecademy/gamut-styles/utils";

.vdsWrapper {
  position: relative;
}

.videoWrapper {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
  border-radius: 4px;
  overflow: hidden;
  &.loading {
    background-color: $color-blue-1100;
  }
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  color: $color-white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.iframe {
  width: 100% !important;
  height: 100% !important;
  border: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  & :focus-visible {
    outline-offset: 3px;
  }
}

.hoverButton {
  width: 15%;
  height: 26.7%;
  min-width: px-rem(75px);
  min-height: px-rem(75px);
  color: $color-white;
}
