$color-white: #FFFFFF;
$color-black: #000000;
$color-grey1: #F1F2F2;
$color-grey2: #E6E7E8;
$color-grey3: #BCBEC0;
$color-grey4: #939598;
$color-grey5: #4a4a4c;
$color-blue: #59A1C9;
$color-darkblue: #204056;
$color-mint: #39D1B4;
$color-red: #F65A5B;
$color-pink: rgba(246, 90, 91, 0.15);
$color-pink--hover: rgba(246, 90, 91, 0.30);
$color-lp-bg-dark: #152b39;
$color-lp-bg-light: #FFFFFF;
$color-lp-module-bg-light: #F1F2F2;
$color-lp-module-bg-dark: #354551;
$color-lp-button-bg: #DEE3E6;
$color-lp-editor-bg: #354551;
$color-lp-chrome-bg-light: #C3C8CB;
$color-lp-chrome-bg-tabs-light: #2A3034;
$color-lp-chrome-bg-dark: #2A3034;
$color-lp-chrome-bg-tabs-dark: #4A4F52;
$color-lp-chrome-bg-tabs-dark--hover: #5F6467;
$color-lp-font-dark: #204056;
$color-lp-filetree-icon: #fbb03b;
$color-lp-button-everyday: #152b39;
$color-lp-button-everyday--hover: #5A6A73;
$color-scheme--white-0: #FFFFFF;
$color-scheme--white-1: #4a4a4c;
$color-scheme--white-2: #204056;
$color-scheme--white-3: #F65A5B;
$color-scheme--white-4: #39D1B4;
$color-scheme--grey-0: #F1F2F2;
$color-scheme--grey-1: #4a4a4c;
$color-scheme--grey-2: #204056;
$color-scheme--grey-3: #F65A5B;
$color-scheme--grey-4: #F65A5B;
$color-scheme--darkgrey-0: #E6E7E8;
$color-scheme--darkgrey-1: #4a4a4c;
$color-scheme--darkgrey-2: #204056;
$color-scheme--darkgrey-3: #F65A5B;
$color-scheme--darkgrey-4: #39D1B4;
$color-scheme--mint-0: #39D1B4;
$color-scheme--mint-1: #FFFFFF;
$color-scheme--mint-2: #FFFFFF;
$color-scheme--mint-3: #FFFFFF;
$color-scheme--mint-4: #FFFFFF;
$color-scheme--blue-0: #59A1C9;
$color-scheme--blue-1: #FFFFFF;
$color-scheme--blue-2: #FFFFFF;
$color-scheme--blue-3: #FFFFFF;
$color-scheme--blue-4: #FFFFFF;
$color-scheme--darkblue-0: #204056;
$color-scheme--darkblue-1: #FFFFFF;
$color-scheme--darkblue-2: #BCBEC0;
$color-scheme--darkblue-3: #FFFFFF;
$color-scheme--darkblue-4: #FFFFFF;