$color-white: #FFFFFF;
$color-black: #000000;
$color-grey-1: #F1F2F2;
$color-grey-2: #E6E7E8;
$color-grey-3: #BCBEC0;
$color-grey-4: #939598;
$color-grey-5: #4a4a4c;
$color-blue: #59A1C9;
$color-darkblue: #204056;
$color-midnightblue: #152b39;
$color-mint: #34B3A0;
$color-red: #F65A5B;
$font-oxygen: 'Oxygen', 'Oxygen';
$font-monospace: Monaco, Menlo, 'Ubuntu Mono', 'Droid Sans Mono', Consolas, monospace;