@import "~@codecademy/gamut-styles/utils";

.headerTabLogo {
  margin: 0 px-rem(8px) 0 0;
}

.searchButton {
  padding: 0.2rem;
  min-width: 0;

  > svg {
    color: $color-navy;
  }
}

.basicNavLinkHeader {
  padding: 1rem 0;
}

.headerTabMobileMenu {
  margin-right: 0;
}
