@import "~@codecademy/gamut-styles/utils";

.headerTabLogo {
  margin: 0 px-rem(8px) 0 0;
}

.logo {
  display: inline-block;
  margin-left: 0;
  padding: 0.375rem 0;

  > svg {
    color: $color-navy;
    margin-bottom: -0.1875rem;
  }
}

.plainNavLink {
  font-weight: normal;
  min-width: 0;
  padding: 0.1rem;
  text-align: left;
}

.navLink {
  display: block;
}

.searchButton {
  padding: 0.2rem;
  min-width: 0;

  > svg {
    color: $color-navy;
  }
}

.basicNavLinkHeader {
  padding: 1rem 0;
}

.headerTabMobileMenu {
  margin-right: 0;
}

.hoverable {
  &:hover {
    color: $color-hyper;
  }
}
