.spinner {
  animation-name: spinner;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 1s;
  top: 0.1rem;
}

@keyframes spinner {
  from {
    transform: rotate(20deg);
  }
  to {
    transform: rotate(380deg);
  }
}
