@use "~@codecademy/gamut-styles/utils";

$headingSizes: (
  "xxs": (
    "size": 16,
    "margin": 16,
    "font": $font-family-base
  ),
  "xs": (
    "size": 20,
    "margin": 16,
    "font": $font-family-base
  ),
  "sm": (
    "size": 22,
    "margin": 16,
    "font": $font-family-base
  ),
  "md": (
    "size": 26,
    "margin": 20,
    "font": $font-family-base
  ),
  "lg": (
    "size": 34,
    "margin": 24,
    "font": $font-family-base
  ),
  "xl": (
    "size": 44,
    "margin": 24,
    "font": $font-family-base
  ),
  "xxl": (
    "size": 64,
    "margin": 32,
    "font": $font-family-base
  )
);

$textSizes: (
  "sm": (
    "size": 14,
    "font": $font-family-base
  ),
  "md": (
    "size": 16,
    "font": $font-family-base
  ),
  "lg": (
    "size": 20,
    "font": $font-family-base
  )
);
