@import "variables";

.heading {
  font-weight: $font-weight-headings;
  line-height: 1.25;
}

@each $screenSize in $screenSizes {
  @include getViewport($screenSize) {
    @each $size, $map in $headingSizes {
      .fontSize_#{$size}__#{$screenSize} {
        font-size: px-rem(map-get($map, size));
        font-family: map-get($map, font);
        margin-bottom: px-rem(map-get($map, margin));
      }
    }
  }
}

.hideMargin {
  margin: 0;
}
