@import "variables";

.text {
  margin: 0;
}

@each $screenSize in $screenSizes {
  @include getViewport($screenSize) {
    @each $size, $map in $textSizes {
      .fontSize_#{$size}__#{$screenSize} {
        font-size: px-rem(map-get($map, size));
        font-family: map-get($map, font);
      }
    }
  }
}
