@import "../../gamut-styles/utils";

.sections {
  display: flex;
  flex-direction: column;
}

.section {
  display: grid;
  grid-template-columns: 1;
  margin-top: 2rem;
  min-width: 100%;
  row-gap: 0.5rem;
  width: 50%;
}
