@import "~@codecademy/gamut-styles/utils";

.displayHorizontal {
  display: flex;
  align-items: center;
}

.buttonContainer {
  display: flex;
  align-items: center;
  outline: 0;
  background: none;
  height: 3.5rem;
  max-height: 3.5rem;
  padding: 0 1rem;
  justify-content: space-between;
  border: 0;
  border-top: 1px solid $color-gray-200;

  &:hover {
    cursor: pointer;
  }
}

.buttonTitle {
  text-transform: uppercase;
  letter-spacing: 0.025rem;
  font-weight: bold;
  font-size: px-rem(18px);
}

.buttonArrow {
  margin-left: 0.5rem;
  position: relative;
  top: 3px;
}
