// Legacy Helper mixins

// these variables should be located in ../variables
// instead, they're co-located with their legacy functions so they can be removed more easily
// NOTE: when removing, also remove the legacyBreakpoints JS object in gamut-styles/variables.js
$bp-phone: 0;
$bp-tablet: $grid-md-min;
$bp-desktop: $grid-lg-min;

@mixin device-phone {
  @include screen-size-between(0, $grid-md-min - 1) {
    @content;
  }
}

@mixin device-tablet {
  @include screen-size-between($grid-md-min, $grid-lg-min - 1) {
    @content;
  }
}

@mixin device-desktop {
  @include screen-size-gte($grid-lg-min) {
    @content;
  }
}

@mixin devices($devices...) {
  @each $device in $devices {
    @if $device == phone {
      @include device-phone {
        @content;
      }
    }
    @if $device == tablet {
      @include device-tablet {
        @content;
      }
    }
    @if $device == desktop {
      @include device-desktop {
        @content;
      }
    }
  }
}
