// Legacy Helper mixins
@use "../variables/index.scss";
@use "../mixins/responsive" as *;

// these variables should be located in ../variables
// instead, they're co-located with their legacy functions so they can be removed more easily
// NOTE: when removing, also remove the legacyBreakpoints JS object in gamut-styles/variables.js
$bp-phone: 0;
$bp-tablet: 736px;
$bp-desktop: 960px;

@mixin device-phone {
  @include screen-size-between($bp-phone, $bp-tablet - 1) {
    @content;
  }
}

@mixin device-tablet {
  @include screen-size-between($bp-tablet, $bp-desktop - 1) {
    @content;
  }
}

@mixin device-desktop {
  @include screen-size-gte($bp-desktop) {
    @content;
  }
}

@mixin devices($devices...) {
  @each $device in $devices {
    @if $device == phone {
      @include device-phone {
        @content;
      }
    }
    @if $device == tablet {
      @include device-tablet {
        @content;
      }
    }
    @if $device == desktop {
      @include device-desktop {
        @content;
      }
    }
  }
}
