@import "~@codecademy/gamut-styles/utils";

.container {
  align-items: center;
  background: rgba($color-black, 0.85);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

// Todo: are these correct?
.inside {
  background: $color-gray-100;
  border-radius: 5px;
}
