@import "~@codecademy/gamut-styles/utils";

$anim-duration: 300ms;

.tabList {
  display: flex;
  position: relative;
}

.tabPanelContainer {
  padding: 1.5rem;
  background-color: $color-white;
}

.tab {
  flex: 1;
  text-align: center;
  padding: 1rem;
  cursor: pointer;
  transition: background-color $anim-duration;

  &:focus {
    outline: none;
  }
}

// regular style tabs
.tab.traditional {
  &[aria-selected="false"] {
    background-color: $color-gray-100;
    &:hover {
      background-color: lighten($color-gray-100, 2%);
    }
  }
  &[aria-selected="true"] {
    background: $color-white;
  }
}

// animated underline style
.tab.animatedUnderline {
  position: relative;
  // add an underline hover style
  &::after {
    height: 0.25rem;
    background-color: fade-out($color-blue-800, 0.85);
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    transition: opacity $anim-duration;
    opacity: 0;
    width: 100%;
  }

  &:hover {
    &::after {
      opacity: 1;
    }
  }
  &[aria-selected="true"] {
    font-weight: bold;
  }
}

// animated tab underline thing
// only present if prop animatedUnderlineStyle === true
.tabIndicator {
  transition: left $anim-duration cubic-bezier(0.215, 0.61, 0.355, 1);
  background: $color-blue-700;
  height: 0.25rem;
  position: absolute;
  bottom: 0;
  left: 0;
}
