@import "~@codecademy/gamut-styles/utils";

$right: translateX(-100%);
$left: translateX(0%);
$center: translateX(-50%);

$above: translateY(-100%);
$below: translateY(0%);

.popover {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 20;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1), 0 0 24px rgba(0, 0, 0, 0.15);
}

.above-right {
  transform: $right $above;
}

.below-right {
  transform: $right $below;
}

.above-left {
  transform: $left $above;
}

.below-left {
  transform: $left $below;
}

.beak {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;

  border-bottom: 15px solid white;
}

.below-beak {
  position: absolute;
  top: -15px;
  left: 20px;
}

.above-beak {
  position: absolute;
  transform: rotate(180deg);
  top: calc(100% - 1px);
  left: 20px;
}
