@import "~@codecademy/gamut-styles/utils";

.splitInterstitial {
  background: $color-gray-100;
  height: 100%;
  min-height: 20rem;
  width: 100%;
}

.side {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.left {
  background: $color-white;
  box-shadow: 0 2px 4px 0 $color-shadow;
}

.sideImage {
  position: absolute;
  user-select: none;
}

.topLeftImage {
  left: 0;
  top: 0;

  @extend .sideImage;
}

.bottomRightImage {
  bottom: 0;
  right: 0;

  @extend .sideImage;
}

.children {
  position: relative;
}

@include md-viewport {
  .splitInterstitial {
    display: flex;
    flex-direction: row-reverse;
  }

  .side {
    width: 100%;
  }
}
