@import "~@codecademy/gamut-styles/utils";

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/roboto-mono-v7-latin-regular.eot");
  src: local("Roboto Mono"), local("RobotoMono-Regular"),
    url("./fonts/roboto-mono-v7-latin-regular.woff2") format("woff2"),
    url("./fonts/roboto-mono-v7-latin-regular.woff") format("woff"),
    url("./fonts/roboto-mono-v7-latin-regular.ttf") format("truetype"),
    url("./fonts/roboto-mono-v7-latin-regular.svg#RobotoMono") format("svg");
}

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: bold;
  src: url("./fonts/roboto-mono-v7-latin-700.eot");
  src: local("Roboto Mono Bold"), local("RobotoMono-Bold"),
    url("./fonts/roboto-mono-v7-latin-700.woff2") format("woff2"),
    url("./fonts/roboto-mono-v7-latin-700.woff") format("woff"),
    url("./fonts/roboto-mono-v7-latin-700.ttf") format("truetype"),
    url("./fonts/roboto-mono-v7-latin-700.svg#RobotoMono") format("svg");
}

.font {
  font-family: "Roboto Mono", $font-monospace;
}
