// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant($color, $background, $border: transparent) {
  $active-background: mix($color-black, $background, $btn-state-modifier);
  $active-color: mix($color-black, $color, $btn-color-modifier);

  @if $border == transparent {
    $active-border: transparent;
    $active-border-hover: transparent;
  }

  color: $color;
  background-color: $background;
  border-color: $border;

  &:hover,
  &:active {
    box-shadow: 0 2px 4px 0 $btn-box-shadow-color;
    text-decoration: none;
    color: $color;
  }

  &:active {
    color: $active-color;
    background-color: $active-background;
  }

  &:focus {
    box-shadow: 0 0 0 3px fade-out($background, 0.5);
  }

  &:disabled {
    color: $deprecated-gamut-grey-200;
    background-color: $btn-disabled-color;

    &:hover {
      box-shadow: none;
    }
  }
}

@mixin button-outline-variant($color) {
  color: $color;
  background-color: transparent;
  border: 1px solid $color;

  &:hover {
    background-color: fade-out($color, $btn-outline-hover-state-modifier);
    box-shadow: none;
  }

  &:active {
    background-color: fade-out($color, $btn-outline-active-state-modifier);
    box-shadow: none;
  }

  &:focus {
    box-shadow: 0 0 0 3px fade-out($color, 0.5);
  }

  &:disabled {
    border-color: $btn-disabled-color;
    color: $btn-disabled-color;
    background-color: transparent;
  }
}

@mixin button-flat-variant($color) {
  color: $color;
  background-color: transparent;

  $active-color: darken($color, $btn-state-modifier);

  &:hover,
  &:active {
    box-shadow: none;
    color: $active-color;
  }

  &:focus {
    box-shadow: 0 0 0 3px fade-out($color, $btn-box-shadow-focus-modifier);
  }

  &:disabled {
    color: $btn-disabled-color;
    background-color: transparent;
  }
}

// Button sizes
@mixin button-size(
  $padding-y,
  $padding-x,
  $font-size,
  $line-height,
  $min-width
) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  line-height: $line-height;
  min-width: $min-width;

  &.fit-text {
    min-width: 0;
    min-height: 0;
  }
}

@mixin button-variants($name, $color, $background, $border: transparent) {
  .btn-#{$name} {
    @include button-variant($color, $background, $border);
    &.outline {
      @include button-outline-variant($background);
    }
    &.flat {
      @include button-flat-variant($background);
    }
    @content;
  }
  .link-#{$name} {
    font-weight: bold;
    @include font-smoothing;
    color: $background;
    text-decoration: underline;

    &:disabled {
      color: $btn-disabled-color;
    }
  }
}
