// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant($color, $background, $border: transparent) {
  $active-background: darken($background, $btn-state-modifier);

  @if $border == transparent {
    $active-border: transparent;
    $active-border-hover: transparent;
  }

  color: $color;
  background-color: $background;
  border-color: $border;

  &:hover,
  &:active,
  &:focus {
    box-shadow: 0 1px 3px $gamut-grey-700;
  }

  &:active,
  &:focus {
    color: $color;
    background-color: $active-background;
  }

  &:disabled {
    color: $gamut-grey-200;
    background-color: $btn-disabled-color;

    &:hover {
      box-shadow: none;
    }
  }
}

@mixin button-outline-variant($color) {
  color: $color;
  background-color: $color-white;
  border: px-rem(2) solid $color;

  &:active,
  &:focus {
    background-color: lighten($color, $btn-outline-state-modifier);
  }

  &:disabled {
    border-color: $btn-disabled-color;
    color: $btn-disabled-color;
    background-color: $color-white;
  }
}

@mixin button-flat-variant($color) {
  color: $color;
  background-color: $color-white;

  &:hover,
  &:active,
  &:focus {
    box-shadow: none;
    color: darken($color, $btn-state-modifier);
  }

  &:disabled {
    color: $btn-disabled-color;
    background-color: $color-white;
  }
}

// Button sizes
@mixin button-size($padding-y, $padding-x, $font-size, $line-height) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin button-variants($name, $color, $background, $border: transparent) {
  .btn-#{$name} {
    @include button-variant($color, $background, $border);
    &.outline {
      @include button-outline-variant($background);
    }
    &.flat {
      @include button-flat-variant($background);
    }
    @content;
  }
  .link-#{$name} {
    font-weight: bold;
    color: $background;
    text-decoration: underline;

    &:disabled {
      color: $btn-disabled-color;
    }
  }
}
