// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant($color, $background, $border: transparent) {
  $active-background: mix($color-black, $background, $btn-state-modifier);
  $active-color: mix($color-black, $color, $btn-color-modifier);

  @if $border == transparent {
    $active-border: transparent;
    $active-border-hover: transparent;
  }

  color: $color;
  background-color: $background;
  border-color: $border;

  &:hover,
  &:active,
  &:focus {
    box-shadow: 0 2px 4px 0 $btn-box-shadow-color;
  }

  &:active,
  &:focus {
    color: $active-color;
    background-color: $active-background;
  }

  &:disabled {
    color: $gamut-grey-200;
    background-color: $btn-disabled-color;

    &:hover {
      box-shadow: none;
    }
  }
}

@mixin button-outline-variant($color) {
  color: $color;
  background-color: $color-white;
  border: px-rem(2) solid $color;

  &:hover {
    background-color: lighten($color, $btn-outline-hover-state-modifier);
    box-shadow: none;
  }

  &:active,
  &:focus {
    background-color: lighten($color, $btn-outline-active-state-modifier);
    box-shadow: none;
  }

  &:disabled {
    border-color: $btn-disabled-color;
    color: $btn-disabled-color;
    background-color: $color-white;
  }
}

@mixin button-flat-variant($color) {
  color: $color;
  background-color: $color-white;

  $active-color: darken($color, $btn-state-modifier);

  &:hover,
  &:active,
  &:focus {
    box-shadow: none;
    color: $active-color;
  }

  &:disabled {
    color: $btn-disabled-color;
    background-color: $color-white;
  }
}

// Button sizes
@mixin button-size($padding-y, $padding-x, $font-size, $line-height, $min-width, $min-height) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  line-height: $line-height;
  min-width: $min-width;
  min-height: $min-height;

  &.fit-text {
    min-width: 0;
    min-height: 0;
  }
}

@mixin button-variants($name, $color, $background, $border: transparent) {
  .btn-#{$name} {
    @include button-variant($color, $background, $border);
    &.outline {
      @include button-outline-variant($background);
    }
    &.flat {
      @include button-flat-variant($background);
    }
    @content;
  }
  .link-#{$name} {
    font-weight: bold;
    @include font-smoothing;
    color: $background;
    text-decoration: underline;

    &:disabled {
      color: $btn-disabled-color;
    }
  }
}
