@import "~@codecademy/gamut-styles/utils";

$btn-padding-x: 1rem !default;
$btn-padding-y: 0.375rem !default;
$btn-font-weight: normal !default;
$btn-font-family: $font-oxygen;

$btn-line-height: 1.5 !default;
$btn-line-height-lg: 4 / 3 !default;
$btn-line-height-sm: 1.5 !default;

$btn-font-size-base: 1rem !default;
$btn-font-size-lg: 1.2rem !default;
$btn-font-size-sm: 0.9rem !default;
$btn-font-size-xs: 0.75rem !default;

$btn-padding-x-sm: 0.75rem !default;
$btn-padding-y-sm: 0.25rem !default;

$btn-padding-x-lg: 1.25rem !default;
$btn-padding-y-lg: 0.75rem !default;

// we don't really have "active" styles,
// so these are the same for now
$btn-state-modifier: 8% !default;
$btn-state-modifier-active: 8% !default;

$btn-outline-state-modifier: 15% !default;

$btn-swatches: (
  "mint": $swatches-mint-700,
  "darkmint": $swatches-mint-800,
  "blue": $swatches-blue-500,
  "darkblue": $swatches-cc-blue-500,
  "midnightblue": $swatches-grey-blue-500,
  "grey": $swatches-grey-300,
  "red": $swatches-red-500,
  "yellow": $swatches-yellow-500,
  "greyblue": $swatches-grey-blue-600,
  "white": $color-white,
  "ccblue": $swatches-cc-blue-700
);
