@import "@codecademy/gamut-styles/utils";

.kanbanSidebarWrapper {
  height: 100%;
  position: relative;
  width: 25rem;
}

.kanbanSidebarContainer {
  background-color: aliceblue;
  max-width: 25rem;
  overflow: hidden;
}

.arrowButton {
  display: flex;
  align-content: center;
  background-color: blue;
  height: 3rem;
  min-width: 2.3rem;
  margin: 1rem 0;
  padding: 0;
}

.expansionIcon {
  transition: transform 0.35s ease-out;
}

.expansionIconExpanded {
  transform: rotate(180deg);
}
