@import "@codecademy/gamut-styles/utils";

.kanbanSidebarWrapper {
  height: 100%;
  position: relative;
  width: 25rem;
}

.overlay {
  height: 100vh;
  width: 20rem;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: grey;
}

.overlayContent {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.kanbanSidebarContainer {
  background-color: aliceblue;
  max-width: 25rem;
  overflow: hidden;
}

.arrowButton {
  display: flex;
  align-content: center;
  background-color: blue;
  height: 3rem;
  min-width: 2.3rem;
  margin: 1rem 0;
  padding: 0;
}

.hidden {
  display: hidden;
}

.expansionIcon {
  transition: transform 0.35s ease-out;
}

.expansionIconExpanded {
  transform: rotate(180deg);
}
