@import "~@codecademy/gamut-styles/utils";

.toggleButton {
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;
  outline: none;

  &.disabled {
    cursor: auto;
    opacity: 0.75;
  }
}

.track {
  padding: 0;
  border-radius: 99rem;
  transition: all 0.2s ease;

  &.gray-blue {
    background-color: $color-gray-500;
  }

  &.purple {
    background-color: $brand-purple;
  }
}

.track-medium {
  width: px-rem(60);
  height: px-rem(29);
}

.track-small {
  width: px-rem(28);
  height: px-rem(15);
}

.toggled .track {
  &.gray-blue {
    background-color: $color-blue-500;
  }

  &.purple {
    background-color: $brand-purple;
  }
}

.thumb {
  position: absolute;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  background-color: $color-white;
}

.thumb-medium {
  top: px-rem(3.5);
  left: px-rem(3.5);
  width: px-rem(22);
  height: px-rem(22);
  border-radius: 99rem;
}

.thumb-small {
  top: px-rem(1);
  left: px-rem(1.5);
  width: px-rem(13);
  height: px-rem(12.5);
  border-radius: px-rem(12);
}

.toggled .thumb-medium {
  left: px-rem(34.5);
}

.toggled .thumb-small {
  left: px-rem(13.5);
}

.invisible {
  @include sr-only;
}
