
/*
We have a font for our achievement badges.

Styleguide 4.2
*/

@include icon-font("cc-achievement", "icons/cc-achievements", 1);

.cc-achievement {
  font-size: 120px;
  font-family: 'cc-achievement';
  @extend %cc-icon;
}

.cc-achievement--10-exercises:before             { content: "\e600"; }
.cc-achievement--25-exercises:before             { content: "\e601"; }
.cc-achievement--50-exercises:before             { content: "\e602"; }
.cc-achievement--100-exercises:before            { content: "\e603"; }
.cc-achievement--200-exercises:before            { content: "\e604"; }
.cc-achievement--404-error:before                { content: "\e605"; }
.cc-achievement--404-error2:before               { content: "\e606"; }
.cc-achievement--500-exercises:before            { content: "\e607"; }
.cc-achievement--1000-exercises:before           { content: "\e608"; }
.cc-achievement--1000-exercises-dark:before      { content: "\e609"; }
.cc-achievement--10000-exercises:before          { content: "\e60a"; }
.cc-achievement--10000-exercises-dark:before     { content: "\e60b"; }
.cc-achievement--api23-and-me:before             { content: "\e60c"; }
.cc-achievement--api-apigee:before               { content: "\e60d"; }
.cc-achievement--api-bitly:before                { content: "\e60e"; }
.cc-achievement--api-bitly2:before               { content: "\e60f"; }
.cc-achievement--api-box:before                  { content: "\e610"; }
.cc-achievement--api-dwolla:before               { content: "\e611"; }
.cc-achievement--api-easypost:before             { content: "\e612"; }
.cc-achievement--api-evernote:before             { content: "\e613"; }
.cc-achievement--api-firebase:before             { content: "\e614"; }
.cc-achievement--api-gilt:before                 { content: "\e615"; }
.cc-achievement--api-github:before               { content: "\e616"; }
.cc-achievement--api-js:before                   { content: "\e617"; }
.cc-achievement--api-ma:before                   { content: "\e618"; }
.cc-achievement--api-mandrill:before             { content: "\e619"; }
.cc-achievement--api-nhtsa:before                { content: "\e61a"; }
.cc-achievement--api-npr:before                  { content: "\e61b"; }
.cc-achievement--api-ordrin:before               { content: "\e61c"; }
.cc-achievement--api-parse:before                { content: "\e61d"; }
.cc-achievement--api-pk:before                   { content: "\e61e"; }
.cc-achievement--api-python:before               { content: "\e61f"; }
.cc-achievement--api-ruby:before                 { content: "\e620"; }
.cc-achievement--api-sendgrid:before             { content: "\e621"; }
.cc-achievement--api-skydrive:before             { content: "\e622"; }
.cc-achievement--api-soundcloud:before           { content: "\e623"; }
.cc-achievement--api-sunlight:before             { content: "\e624"; }
.cc-achievement--api-twilio:before               { content: "\e625"; }
.cc-achievement--api-twitter:before              { content: "\e626"; }
.cc-achievement--api-webshell:before             { content: "\e627"; }
.cc-achievement--api-wepay:before                { content: "\e628"; }
.cc-achievement--api-youtube:before              { content: "\e629"; }
.cc-achievement--blackjack-course1:before        { content: "\e62a"; }
.cc-achievement--blackjack-course2:before        { content: "\e62b"; }
.cc-achievement--blackjack-course3:before        { content: "\e62c"; }
.cc-achievement--building-an-address-book:before { content: "\e62d"; }
.cc-achievement--cash-register-course:before     { content: "\e62e"; }
.cc-achievement--code-achievement:before         { content: "\e62f"; }
.cc-achievement--dice-game:before                { content: "\e630"; }
.cc-achievement--dice-game2:before               { content: "\e631"; }
.cc-achievement--donorschoose-js:before          { content: "\e632"; }
.cc-achievement--first-lesson:before             { content: "\e633"; }
.cc-achievement--first-lesson-dark:before        { content: "\e634"; }
.cc-achievement--fizzbuzz:before                 { content: "\e635"; }
.cc-achievement--fizzbuzz2:before                { content: "\e636"; }
.cc-achievement--functions-in-js:before          { content: "\e637"; }
.cc-achievement--functions-in-js2:before         { content: "\e638"; }
.cc-achievement--golang-achievement:before       { content: "\e639"; }
.cc-achievement--haskell-achievement:before      { content: "\e63a"; }
.cc-achievement--hello-nyc:before                { content: "\e63b"; }
.cc-achievement--html5-achievement:before        { content: "\e63c"; }
.cc-achievement--if-else:before                  { content: "\e63d"; }
.cc-achievement--intro-to-objects:before         { content: "\e63e"; }
.cc-achievement--intro-to-objects2:before        { content: "\e63f"; }
.cc-achievement--javascript-quick-start:before   { content: "\e640"; }
.cc-achievement--jquery-achievement:before       { content: "\e641"; }
.cc-achievement--olympic-tryouts:before          { content: "\e642"; }
.cc-achievement--php-achievement:before          { content: "\e643"; }
.cc-achievement--primitives-in-js:before         { content: "\e644"; }
.cc-achievement--python-achievement:before       { content: "\e645"; }
.cc-achievement--rails-achievement:before        { content: "\e646"; }
.cc-achievement--ruby-achievement:before         { content: "\e647"; }
.cc-achievement--starting-a-startup:before       { content: "\e648"; }
.cc-achievement--angularjs-achievement:before	 { content: "\e649"; }

