
// CodeMirror editor (Francine LE editor and snippets only)
.cm-s-cc.CodeMirror {

  $code-red: #e85d7f;
  $orange: #ff8973;
  $code-yellow: #ffe083;
  $code-green: #b4d353;
  $code-blue: #83fff5;
  $purple: #b3ccff;
  $deep-purple: #cc7bc2;
  $comment-grey: #939598;
  $white: #ffffff;

  $codemirror-theme-mapping:
    comment $comment-grey,
    property $code-blue,
    string $code-yellow,
    atom $deep-purple,
    attribute $code-green,
    qualifier $code-green,
    variable $orange,
    variable-2 $orange,
    variable-3 $orange,
    tag $code-red,
    bracket $code-red,
    keyword $purple,
    def $purple,
    number $orange,
    operator $white,
    error $white,
    builtin $white;

  @include codemirror-theme($codemirror-theme-mapping, $white);
}

