hr {
  height: 1px;
  background-color: $color-grey2;
  border: none;
  margin: 1em 0;
}

hr.dark {
  background-color: $color-grey4;
}

hr.extra-margin {
  margin: 2em 0;
}

hr.no-margin {
  margin: 0;
}
