.fill-container {
  position:relative;
  width:100%;
  height:100%;
}

.hidden {
  display:none;
}

.clearfix { @include clearfix(); }

.link-area {
  @include link-area;
}

.border--dashed {
  border-style: dashed;
  border-width: thin;
}
