/*
Our symbols are available as another font.

Styleguide 4.1
*/

.cc-symbol {
  font-size: 30px;
  @extend %cc-symbol;
}

.cc-symbol.cc-symbol-icon--medium {
  font-size: 45px;
}

.cc-symbol.cc-symbol-icon--large {
  font-size: 60px;
}

@each $cc-symbol in $cc-symbol-icons {
  $name: nth($cc-symbol, 1);

  .cc-symbol-icon-#{$name} {
    @include cc-symbol($name);
  }
}
