/*

  White space scale class names

  For example,

  .padding-top--8 {
    padding-top: 8rem;
  }

*/

$directions: top bottom left right;
$modifiers:  padding margin;

@mixin generate-whitespace-helpers($val, $val-safe: $val) {
  @each $mod in $modifiers {
    $valrem: $val * 1rem;
    @each $dir in $directions {
      .#{$mod}-#{$dir}--#{$val-safe} {
        #{$mod}-#{$dir}: $valrem !important;
      }
    }
    .#{$mod}-top-bottom--#{$val-safe} {
      #{$mod}-top: $valrem !important;
      #{$mod}-bottom: $valrem !important;
    }
    .#{$mod}-left-right--#{$val-safe} {
      #{$mod}-left: $valrem !important;
      #{$mod}-right: $valrem !important;
    }
    .#{$mod}--#{$val-safe} {
      @each $dir in $directions {
        #{$mod}-#{$dir}: $valrem !important;
      }
    }
  }
}

// Non-fib special ones:

@include generate-whitespace-helpers(0, none);
@include generate-whitespace-helpers(0.25, quarter);
@include generate-whitespace-helpers(0.5, half);

// Generate the fibonacci scale from 1 through 21

$a: 1;
$b: 1;

@for $i from 1 through 7 {
  $new: $a + $b;
  $a: $b;
  $b: $new;

  @include generate-whitespace-helpers($a);
}
