@import "~@codecademy/gamut-styles/utils";

.displayHorizontal {
  display: flex;
  align-items: center;
}

.eyebrow {
  justify-content: space-between;
  color: $color-white;
}

.eyebrowIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-white;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 0.75rem;
  margin-right: 0.5rem;
}

.eyebrowText {
  font-size: 1rem;
  font-weight: bold;
  white-space: nowrap;
}

.darkTheme {
  color: $color-black;
}

.darkThemeIcon {
  background-color: $color-black;
}
