@import "~@codecademy/gamut-styles/utils";

.lightContainer {
  color: $brand-dark-blue;
}

.darkContainer {
  color: $color-white;
}

.icon {
  display: block;
  margin-bottom: -2.5rem;
}

.text {
  quotes: none;
  font-family: $font-family-headings;
  font-size: px-rem(30px);
  line-height: px-rem(42px);
}
