@import "./variables.scss";

.container {
  display: grid;
}

@each $screenSize in $screenSizes {
  @include getViewport($screenSize) {
    @each $columnSize in $columnSizes {
      .size_#{$columnSize}__#{$screenSize} {
        grid-column-end: span #{$columnSize};
      }
    }

    @each $columnSize in $columnSizes {
      .offset_#{$columnSize}__#{$screenSize} {
        @if $columnSize == 0 {
          grid-column-start: auto;
        } @else {
          grid-column-start: #{$columnSize + 1};
        }
      }
    }
  }
}
