@import "./shared.module.scss";

.container {
  display: grid;
}

@each $screenSize in $screenSizes {
  @each $columnSize in $columnSizes {
    .size_#{$columnSize}__#{$screenSize}Screen {
      @include getViewport($screenSize) {
        grid-column-end: span #{$columnSize};
      }
    }
  }
}

@each $screenSize in $screenSizes {
  @each $columnSize in $columnSizes {
    .offset_#{$columnSize}__#{$screenSize}Screen {
      @include getViewport($screenSize) {
        @if $columnSize == 0 {
          grid-column-start: auto;
        } @else {
          grid-column-start: #{$columnSize + 1};
        }
      }
    }
  }
}
