@import "./variables.scss";

.container {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

@each $screenSize in $screenSizes {
  @include getViewport($screenSize) {
    @each $sizeName, $gapSize in $gapSizes {
      .rowGap_#{$sizeName}__#{$screenSize} {
        grid-row-gap: $gapSize;
      }
    }
    @each $sizeName, $gapSize in $gapSizes {
      .columnGap_#{$sizeName}__#{$screenSize} {
        grid-column-gap: $gapSize;
      }
    }
  }
}
