$gaps: (
  "s": 0.5rem,
  "m": 1rem,
  "l": 2rem,
  "xl": 3rem,
);

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

@each $key, $value in $gaps {
  .rowGap_#{$key} {
    grid-row-gap: $value;
  }
}

@each $key, $value in $gaps {
  .columnGap_#{$key} {
    grid-column-gap: $value;
  }
}
