@import "~@codecademy/gamut-styles/utils";

$gaps: (
  "sm": 0.5rem,
  "md": 1rem,
  "lg": 2rem,
  "xl": 3rem,
);

$screenSizes: ("sm", "md", "lg");

@mixin getViewport($viewport) {
  @if $viewport == "lg" {
    @include lg-viewport {
      @content;
    }
  }
  @if $viewport == "md" {
    @include md-viewport {
      @content;
    }
  }
  @if $viewport == "sm" {
    @content;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

@each $screenSize in $screenSizes {
  @each $key, $value in $gaps {
    .rowGap_#{$screenSize}Screen__#{$key} {
      @include getViewport($screenSize) {
        grid-row-gap: $value;
      }
    }
  }
  @each $key, $value in $gaps {
    .columnGap_#{$screenSize}Screen__#{$key} {
      @include getViewport($screenSize) {
        grid-column-gap: $value;
      }
    }
  }
}
