@import "./shared.scss";

.container {
  display: grid;
}

.row {
  grid-auto-flow: row;
}

.column {
  grid-auto-flow: column;
}

@each $sizeName, $gapSize in $gapSizes {
  .gap_#{$sizeName} {
    grid-gap: $gapSize;
  }
}
