.basicBtn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  font-family: inherit;
  font: inherit;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  color: inherit;
  line-height: normal;

  &,
  &:active {
    &:focus {
      outline: none;
    }
  }

  &:hover:focus {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }

  &:active {
    background-image: none;
    outline: 0;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.65;
  }
}

.basicLink {
  text-decoration: none;
  vertical-align: baseline;
  cursor: pointer;

  &,
  &:active,
  &:disabled {
    background-color: transparent;
  }
  &,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:hover,
  &:focus {
    opacity: 0.7;
    text-decoration: none;
    border-color: transparent;
    background-color: transparent;
  }
  &:hover:focus {
    opacity: 0.7;
    background-color: transparent;
  }
  &:disabled {
    &:hover:focus {
      opacity: 0.7;
      text-decoration: none;
    }
  }
}
