@import "../lib/cc";

/*
We use three sizes of user avatars.

Styleguide 8.0
*/


$avatar--small:  1.5rem;
$avatar--medium: 2.5rem;
$avatar--large:  7.5rem;

@mixin avatar-size($dimen) {
  width: $dimen;
  height: $dimen;
  @include apply-color(color, secondary);

  .new-cc-icon {
    font-size: $dimen;
  }

  img {
    width: $dimen;
    height: $dimen;
  }
}

.avatar {
  border-radius: 1000px;
  overflow: hidden;
  @include avatar-size($avatar--medium) // Default size
}

.avatar--inline {
  display: inline-block;
  position: relative;
  top: $avatar--medium / 3;
  margin-right: 1rem;
}

.avatar.avatar--small  { @include avatar-size($avatar--small) }
.avatar.avatar--large  { @include avatar-size($avatar--large) }

