@font-face {
  font-family: "Nunito Sans";
  font-display: swap;
  src: url("../fonts/Nunito_Sans/nunitosans-regular-webfont.eot");
  src: url("../fonts/Nunito_Sans/nunitosans-regular-webfont.woff2")
      format("woff2"),
    url("../fonts/Nunito_Sans/nunitosans-regular-webfont.woff") format("woff"),
    url("../fonts/Nunito_Sans/nunitosans-regular-webfont.ttf") format("ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Nunito Sans";
  font-display: swap;
  src: url("../fonts/Nunito_Sans/nunitosans-bold-webfont.eot");
  src: url("../fonts/Nunito_Sans/nunitosans-bold-webfont.woff2") format("woff2"),
    url("../fonts/Nunito_Sans/nunitosans-bold-webfont.woff") format("woff"),
    url("../fonts/Nunito_Sans/nunitosans-bold-webfont.ttf") format("ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Regular Bold";
  font-display: swap;
  src: url("../fonts/Regular_Bold/Regular-BoldWEB.eot");
  src: url("../fonts/Regular_Bold/Regular-BoldWEB.woff2") format("woff2"),
    url("../fonts/Regular_Bold/Regular-BoldWEB.woff") format("woff"),
    url("../fonts/Regular_Bold/Regular-BoldWEB.svg") format("svg");
}

// because Regular has weird caret styles
@font-face {
  font-family: "Regular Patch";
  src: url("../fonts/Nunito_Sans/nunitosans-bold-webfont.eot");
  src: url("../fonts/Nunito_Sans/nunitosans-bold-webfont.woff2") format("woff2"),
    url("../fonts/Nunito_Sans/nunitosans-bold-webfont.woff") format("woff"),
    url("../fonts/Nunito_Sans/nunitosans-bold-webfont.ttf") format("ttf");
  unicode-range: U+003C, U+003E;
}

@font-face {
  font-display: swap;
  font-family: "Apercu";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Apercu/apercu-regular-pro.woff2") format("woff2"),
    url("../fonts/Apercu/apercu-regular-pro.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Apercu";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Apercu/apercu-bold-pro.woff2") format("woff2"),
    url("../fonts/Apercu/apercu-bold-pro.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Apercu";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/Apercu/apercu-italic-pro.woff2") format("woff2"),
    url("../fonts/Apercu/apercu-italic-pro.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Apercu";
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/Apercu/apercu-bold-italic-pro.woff2") format("woff2"),
    url("../fonts/Apercu/apercu-bold-italic-pro.woff") format("woff");
}

//

@font-face {
  font-display: swap;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Work_Sans/work-sans-regular.woff2") format("woff2"),
    url("../fonts/Work_San/work-sans-regular.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Work_Sans/work-sans-bold.woff2") format("woff2"),
      url("../fonts/Work_San/work-sans-bold.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Work Sans";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/Work_Sans/work-sans-italic.woff2") format("woff2"),
      url("../fonts/Work_San/work-sans-italic.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Work Sans";
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/Work_Sans/work-sans-bold-italic.woff2") format("woff2"),
      url("../fonts/Work_San/work-sans-bold-italic.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Suisse";
  font-weight: normal;
  src: url("../fonts/Suisse/SuisseIntlMono-Regular-WebS.woff2") format("woff2"),
    url("../fonts/Suisse/SuisseIntlMono-Regular-WebS.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Suisse";
  font-weight: bold;
  src: url("../fonts/Suisse/SuisseIntlMono-Bold-WebS.woff2") format("woff2"),
    url("../fonts/Suisse/SuisseIntlMono-Bold-WebS.woff") format("woff");
}
