@font-face {
  font-family: "Nunito Sans";
  font-display: swap;
  src: url("../fonts/Nunito_Sans/nunitosans-regular-webfont.eot");
  src: url("../fonts/Nunito_Sans/nunitosans-regular-webfont.woff2")
      format("woff2"),
    url("../fonts/Nunito_Sans/nunitosans-regular-webfont.woff") format("woff"),
    url("../fonts/Nunito_Sans/nunitosans-regular-webfont.ttf") format("ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Nunito Sans";
  font-display: swap;
  src: url("../fonts/Nunito_Sans/nunitosans-bold-webfont.eot");
  src: url("../fonts/Nunito_Sans/nunitosans-bold-webfont.woff2") format("woff2"),
    url("../fonts/Nunito_Sans/nunitosans-bold-webfont.woff") format("woff"),
    url("../fonts/Nunito_Sans/nunitosans-bold-webfont.ttf") format("ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Regular Bold";
  font-display: swap;
  src: url("../fonts/Regular_Bold/Regular-BoldWEB.eot");
  src: url("../fonts/Regular_Bold/Regular-BoldWEB.woff2") format("woff2"),
    url("../fonts/Regular_Bold/Regular-BoldWEB.woff") format("woff"),
    url("../fonts/Regular_Bold/Regular-BoldWEB.svg") format("svg");
}

// because Regular has weird caret styles
@font-face {
  font-family: "Regular Patch";
  src: url("../fonts/Nunito_Sans/nunitosans-bold-webfont.eot");
  src: url("../fonts/Nunito_Sans/nunitosans-bold-webfont.woff2") format("woff2"),
    url("../fonts/Nunito_Sans/nunitosans-bold-webfont.woff") format("woff"),
    url("../fonts/Nunito_Sans/nunitosans-bold-webfont.ttf") format("ttf");
  unicode-range: U+003C, U+003E;
}

@font-face {
  font-display: swap;
  font-family: "Hanken Grotesk";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Hanken_Grotesk/hanken-grotesk-regular.woff2")
      format("woff2"),
    url("../fonts/Hanken_Grotesk/hanken-grotesk-regular.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Hanken Grotesk";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Hanken_Grotesk/hanken-grotesk-bold.woff2") format("woff2"),
    url("../fonts/Hanken_Grotesk/hanken-grotesk-bold.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Hanken Grotesk";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/Hanken_Grotesk/hanken-grotesk-italic.woff2")
      format("woff2"),
    url("../fonts/Hanken_Grotesk/hanken-grotesk-italic.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Hanken Grotesk";
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/Hanken_Grotesk/hanken-grotesk-bold-italic.woff2")
      format("woff2"),
    url("../fonts/Hanken_Grotesk/hanken-grotesk-bold-italic.woff")
      format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Suisse";
  font-weight: normal;
  src: url("../fonts/Suisse/SuisseIntlMono-Regular-WebS.woff2") format("woff2"),
    url("../fonts/Suisse/SuisseIntlMono-Regular-WebS.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Suisse";
  font-weight: bold;
  src: url("../fonts/Suisse/SuisseIntlMono-Bold-WebS.woff2") format("woff2"),
    url("../fonts/Suisse/SuisseIntlMono-Bold-WebS.woff") format("woff");
}
