// https://raw.githubusercontent.com/twbs/bootstrap/v4-dev/scss/_type.scss

@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/Nunito_Sans/NunitoSans-Regular.eot");
  src: url("../fonts/Nunito_Sans/NunitoSans-Regular.woff") format("woff"),
    url("../fonts/Nunito_Sans/NunitoSans-Regular.ttf") format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/Nunito_Sans/NunitoSans-Bold.eot");
  src: url("../fonts/Nunito_Sans/NunitoSans-Bold.woff") format("woff"),
    url("../fonts/Nunito_Sans/NunitoSans-Bold.ttf") format("ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Regular Bold";
  src: url("../fonts/Regular_Bold/Regular-BoldWEB.eot");
  src: url("../fonts/Regular_Bold/Regular-BoldWEB.woff2") format("woff2"),
    url("../fonts/Regular_Bold/Regular-BoldWEB.woff") format("woff"),
    url("../fonts/Regular_Bold/Regular-BoldWEB.svg") format("svg");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: $margin-bottom-headings;
  font-weight: $font-weight-headings;
  line-height: $line-height-headings;
  color: $color-headings;
  font-family: $font-family-headings;
}

h1 {
  font-size: $font-size-h1;
}
h2 {
  font-size: $font-size-h2;
}
h3 {
  font-size: $font-size-h3;
}
h4 {
  font-size: $font-size-h4;
}
h5 {
  font-size: $font-size-h5;
}
h6 {
  font-size: $font-size-h6;
}

small {
  font-size: $font-size-small;
  font-weight: $font-weight-normal;
}
