@import "~@codecademy/gamut-styles/utils";

.container {
  background-color: $color-blue-900;
  padding: 1rem 0;
  box-shadow: 0 2px 4px 0 rgba($color-black, 0.2);
  position: sticky;
  top: 0;
  width: 100%;
  color: $color-white;
}

.logo {
  color: $color-white;
  svg {
    height: 1.5rem;
  }
}

.centerSection {
  flex: 1;
}
