@import "~@codecademy/gamut-styles/index";

$border-radius: 2px;
$shadow-color: rgba(0, 0, 0, 0.15);
$shadow-light: 0 2px 8px 0 $shadow-color;
$shadow-dark: -2px 8px 22px 0 $shadow-color;
$transition-time: 0.25s;

.shell {
  background: $color-white;
  border-radius: $border-radius;
  box-shadow: $shadow-light;
  position: relative; // for easy absolute placement of child elements
  transition: box-shadow $transition-time ease-in;
}

.hoverShadow {
  &:hover {
    box-shadow: $shadow-dark;
  }
}

.standardWidth {
  width: px-rem(320px);
}
