@import '../../styles/utils.scss';
$color-border: $swatches-grey-100;
$item-background: $color-white;
$item-background-hover: $swatches-grey-100;
$item-background-selected: $swatches-mint-700;
$item-background-selected-hover: rgba($item-background-selected, 0.7);
$border-radius: 2px;
$transition-time: 0.15s;
$form-padding: 0.8rem;

.Form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Input {
  font-size: 1rem;
  text-indent: $form-padding;
  padding: $form-padding 0;
  outline: none;
  width: 100%;
  border: 1px solid $color-border;
  border-radius: $border-radius;
  transition: $transition-time;
  font-weight: normal;

  &::placeholder {
    color: $swatches-grey-500;
  }

  &:focus {
    border-color: $color-blue;
  }
}

.TextArea {
  font-size: 1rem;
  padding: $form-padding;
  outline: none;
  width: calc(100% - 1.6rem);
  border: 1px solid $color-border;
  border-radius: $border-radius;
  transition: $transition-time;
  font-weight: normal;

  &::placeholder {
    color: $swatches-grey-500;
  }

  &:focus {
    border-color: $color-blue;
  }
}

.Checkbox {
  @include no-select;
  margin: 0.4rem 0;
  width: 100%;
  font-weight: normal;

  &.tags {
    width: auto;
    margin-right: 1rem;
    min-width: 8rem;
  }

  .checkboxLabel {
    display: block;
    padding: $form-padding;
    border-radius: $border-radius;
    border: 1px solid $swatches-grey-100;
    transition: $transition-time;
  }

  .checkboxInput {
    display: none;
  }

  .checkboxSpan {
    display: flex;
    position: relative;
    top: 0.2rem;
  }

  .checkboxSpan::before {
    content: '';
    display: block;
    position: relative;
    top: -0.2rem;
    background-position: center;
    width: 1.25rem;
    height: 1.25rem;
    min-width: 1.25rem;
    min-height: 1.25rem;
    border-radius: $border-radius;
    border: 2px solid $swatches-grey-300;
    margin-right: $form-padding;
    transition: $transition-time;
    background-color: white;
  }

  .checkboxInput:checked + .checkboxLabel {
    background-color: $swatches-grey-100;
    transition: $transition-time;
  }

  .checkboxInput:checked + .checkboxLabel .checkboxSpan::before {
    background: url('data:image/svg+xml;utf8,<svg width="14" height="11" viewBox="0 0 14 11" xmlns="http://www.w3.org/2000/svg"><path d="M5.048 8.164L12.61.532l1.452 1.48L5.048 11-.032 5.98l1.408-1.409z" fill="%23E9EAEA"/></svg>') center center no-repeat;
    background-color: $color-mint;
    border-color: $color-mint;
  }
}

.Select {
  position: relative;
  width: 100%;
  font-weight: normal;

  .selectIcon {
    pointer-events: none;
    position: absolute;
    right: 1rem;
    top: 1.25rem;
    width: 0.75rem;
  }

  .selectInput {
    display: block;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    border-radius: $border-radius;
    border: 1px solid $swatches-grey-100;
    width: 100%;
    padding: $form-padding;
    padding-right: 2.5rem;
    background-color: $item-background;
    font-size: 1rem;

    // Firefox hack
    color: transparent;
    text-shadow: 0 0 0 $color-black;

    &:hover {
      cursor: pointer;
      border: 1px solid $item-background-hover;
      background-color: $item-background-hover;
    }
  }
}

.FormGroupHeader {
  margin: 1.5rem 0 0.5rem 0;
  font-weight: bold;
}

.Radio {
  @include no-select;
  margin: 0.25rem 0;
  width: 100%;
  font-weight: normal;

  .radioLabel {
    display: block;
    padding: $form-padding;
    border-radius: $border-radius;
    border: 1px solid $swatches-grey-100;
    transition: $transition-time;
  }

  .radioInput {
    display: none;
  }

  .radioSpan {
    display: flex;
    position: relative;
    top: 0.2rem;
  }

  .radioSpan::before {
    content: '';
    display: block;
    position: relative;
    top: -0.2rem;
    width: 1.25rem;
    height: 1.25rem;
    min-width: 1.25rem;
    min-height: 1.25rem;
    border-radius: 100%;
    border: 2px solid $swatches-grey-300;
    margin-right: $form-padding;
    transition: $transition-time;
  }

  .radioInput:checked + .radioLabel {
    background-color: $swatches-grey-100;
  }

  .radioInput:checked + .radioLabel .radioSpan::before {
    background-color: $color-mint;
    border: 0.25rem solid $swatches-grey-100;
    border-radius: 100%;
    box-shadow: 0 0 0 2px $color-mint;
    width: 1rem;
    height: 1rem;
    min-width: 1rem;
    min-height: 1rem;
  }
}

.FormButton {
  margin-top: 1rem;
}
