@import 'variables';

.TextArea {
  font-size: 1rem;
  padding: $form-padding;
  outline: none;
  width: calc(100% - 1.6rem);
  border: 1px solid $color-border;
  border-radius: $border-radius;
  transition: border-color $transition-time;
  font-weight: normal;

  &::placeholder {
    color: $swatches-grey-500;
  }

  &:focus {
    border-color: $color-blue;
  }
}

.error {
  border-color: $color-red;
}
