name: automerge

on:
  pull_request:
    branches:
      - main
    types:
      - labeled
      - synchronize
      - opened
      - edited
      - reopened
  pull_request_review:
    types:
      - submitted
  status:

jobs:
  automerge:
    runs-on: ubuntu-latest
    if: github.ref != 'refs/heads/main'
    steps:
      - name: Wait for CI build
        uses: fountainhead/action-wait-for-check@v1.0.0
        id: wait-for-build
        with:
          token: ${{ secrets.ACTIONS_GITHUB_TOKEN }}
          checkName: test
          ref: ${{ github.event.pull_request.head.sha || github.sha }}
          timeoutSeconds: 1200
          intervalSeconds: 30
      - name: automerge
        uses: pascalgn/automerge-action@v0.13.0
        env:
          GITHUB_TOKEN: ${{ secrets.ACTIONS_GITHUB_TOKEN }}
          MERGE_LABELS: 'Ship It :shipit:'
          UPDATE_LABELS: 'Ship It :shipit:,Auto Update'
          MERGE_REMOVE_LABELS: 'Ship It :shipit:'
          MERGE_METHOD: 'squash'
          MERGE_COMMIT_MESSAGE: 'pull-request-title-and-description'
          MERGE_COMMIT_MESSAGE_REGEX: '<!--- CHANGELOG-DESCRIPTION -->[\r\n]*(.*)[\r\n]*<!--- END-CHANGELOG-DESCRIPTION -->'
          MERGE_FORKS: false
          MERGE_RETRIES: 6
          MERGE_RETRY_SLEEP: 10000
