name: automerge

on:
  pull_request:
    branches:
      - main
    types:
      - labeled
      - unlabeled
      - synchronize
      - opened
      - edited
      - ready_for_review
      - reopened
      - unlocked
  pull_request_review:
    types:
      - submitted
  check_suite:
    types:
      - completed
  status:
  issue_comment:
    types: [created]

env:
  GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

jobs:
  merge-disabled:
    runs-on: ubuntu-latest
    if: github.action.name == 'labeled'
    steps:
      - name: Merge Disabled
        uses: mheap/github-action-required-labels@v1
        with:
          mode: minimum
          count: 1
          labels: "Ship It :shipit:"

  automerge:
    runs-on: ubuntu-latest
    needs: merge-disabled
    steps:
      - name: automerge
        uses: pascalgn/automerge-action@v0.12.0
        env:
          MERGE_LABELS: "Ship It :shipit:"
          MERGE_REMOVE_LABELS: "Ship It :shipit:"
          MERGE_METHOD: "squash"
          MERGE_COMMIT_MESSAGE: "pull-request-title-and-description"
          MERGE_COMMIT_MESSAGE_REGEX: "<!--- CHANGELOG-DESCRIPTION -->(.*)<!--- END-CHANGELOG-DESCRIPTION -->"
          MERGE_FORKS: false
          MERGE_RETRIES: 3
          MERGE_RETRY_SLEEP: 10000
