name: Push

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: Codecademy/run-on-yarn@v3.0.0
        with:
          node-version: 22
          command: format:verify

  lint:
    strategy:
      fail-fast: false
      matrix:
        command: ['lint', 'verify']
    runs-on: ubuntu-latest
    steps:
      - uses: Codecademy/run-on-yarn@v3.0.0
        with:
          node-version: 22
          command: build
      - run: corepack enable && yarn ${{ matrix.command }}
on:
  push:
    branches:
      - main
  pull_request:
