name: Push

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.ACTIONS_GITHUB_TOKEN }}
          fetch-depth: 1
      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .nvmrc
      - name: Enable Corepack (Yarn 4)
        run: corepack enable
        shell: bash
      - uses: actions/cache@v4
        id: yarn-cache
        with:
          path: |
            **/node_modules
            !**/node_modules/.cache
          key: ${{ runner.os }}-yarn-node-${{ hashFiles('**/yarn.lock') }}
        - name: Install Dependencies If Not Cached
        run: \[ -d node_modules \] || yarn install --immutable
        shell: bash
      - run: yarn format:verify
        shell: bash

  lint:
    strategy:
      fail-fast: false
      matrix:
        command: ['lint', 'verify']
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.ACTIONS_GITHUB_TOKEN }}
          fetch-depth: 1
      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .nvmrc
      - name: Enable Corepack (Yarn 4)
        run: corepack enable
        shell: bash
      - uses: actions/cache@v4
        id: yarn-cache
        with:
          path: |
            **/node_modules
            !**/node_modules/.cache
          key: ${{ runner.os }}-yarn-node-${{ hashFiles('**/yarn.lock') }}
      - name: Install Dependencies If Not Cached
        run: \[ -d node_modules \] || yarn install --immutable
        shell: bash
      - run: yarn build
        shell: bash
      - run: yarn ${{ matrix.command }}
        shell: bash
