name: Push

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.ACTIONS_GITHUB_TOKEN }}
          fetch-depth: 1
      - name: Setup and Build
        uses: ./.github/actions/yarn
      - run: yarn format:verify
        shell: bash

  lint:
    strategy:
      fail-fast: false
      matrix:
        command: ['lint', 'verify']
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.ACTIONS_GITHUB_TOKEN }}
          fetch-depth: 1
      - name: Setup and Build
        uses: ./.github/actions/yarn
      - run: yarn build
        shell: bash
      - run: yarn ${{ matrix.command }}
        shell: bash

  verify-dependencies:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.ACTIONS_GITHUB_TOKEN }}
          fetch-depth: 1
      - name: Setup and Build
        uses: ./.github/actions/yarn
      - run: yarn dedupe --check
