name: Push

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.ACTIONS_GITHUB_TOKEN }}
          fetch-depth: 1
      - name: Setup Node.js
        uses: actions/setup-node@3235b876344d2a9aa001b8d1453c930bba69e610
        with:
          node-version-file: .nvmrc
      - name: Enable Corepack (Yarn 4)
        run: corepack enable
        shell: bash
      - uses: actions/cache@v4
        id: yarn-cache
        with:
          path: |
            **/node_modules
            !**/node_modules/.cache
          key: ${{ runner.os }}-yarn-node-${{ hashFiles('**/yarn.lock') }}
      - name: Install Dependencies
        run: yarn install --immutable
      - run: yarn format:verify
        shell: bash

  lint:
    strategy:
      fail-fast: false
      matrix:
        command: ['lint', 'verify']
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.ACTIONS_GITHUB_TOKEN }}
          fetch-depth: 1
      - name: Setup Node.js
        uses: actions/setup-node@3235b876344d2a9aa001b8d1453c930bba69e610
        with:
          node-version-file: .nvmrc
      - name: Enable Corepack (Yarn 4)
        run: corepack enable
        shell: bash
      - uses: actions/cache@v4
        id: yarn-cache
        with:
          path: |
            **/node_modules
            !**/node_modules/.cache
          key: ${{ runner.os }}-yarn-node-${{ hashFiles('**/yarn.lock') }}
      - name: Install Dependencies
        run: yarn install --immutable
      - run: yarn build
      - run: yarn ${{ matrix.command }}
        shell: bash
on:
  push:
    branches:
      - main
  pull_request:
